<!DOCTYPE html>

<html lang="en">
<head>
  <style>
  input[type='checkbox']:checked + span{
    text-decoration:line-through;
  }

  span.editDelete:hover{
    color:red;
    cursor: pointer;
  }
  </style>
  <meta charset="utf-8"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="/static/lib/Chart.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script type="text/javascript">


  function moveYear(delta){
    date = new Date(parseInt("{{PageYear}}")+delta, 1, 1, 0, 0, 0);
    console.log(date)
    date.setDate(date.getDate());
    var dd = date.getDate();
    var mm = date.getMonth()+1+delta; //January is 0!`
    var yyyy = date.getFullYear();
    window.location.href = "/finances?date="+zeroPad(yyyy, 2)+"-"+zeroPad(mm, 2)+"-"+zeroPad(dd, 2);
  }

  function edit_expense(item){
    old_name = item.parentElement.parentElement.querySelector(".name").textContent
    old_date = item.parentElement.parentElement.querySelector(".date").textContent
    old_cost = item.parentElement.parentElement.querySelector(".cost").textContent
    old_type = item.parentElement.parentElement.querySelector(".type").textContent
    res = window.prompt("Update spending for day " + old_date + "(date, name, cost, type)?",
                        old_date + ", " + old_name +", " + old_cost + ", " + old_type);
    res = res.split(",");

    new_date = res[0]
    new_name = res[1]
    new_cost = res[2]
    new_type = res[3]

    $.ajax({
            type: "POST",
            url: "/finances",
            data: {"action":"update",
                   "value": JSON.stringify({"date": new_date, "name": new_name, "cost": new_cost, "type": new_type}),
                   "oldValue": JSON.stringify({"date": old_date, "name": old_name, "cost": old_cost, "type": old_type})
                   },
            error: function(data) {
              window.alert("spending tracker failed to submit the value...")
            }
          });
    item.parentElement.parentElement.querySelector(".date").textContent = new_date
    item.parentElement.parentElement.querySelector(".name").textContent = new_name
    item.parentElement.parentElement.querySelector(".cost").textContent = new_cost
    item.parentElement.parentElement.querySelector(".type").textContent = new_type
  }

  function delete_expense(item){
    name = item.parentElement.parentElement.querySelector(".name").textContent
    date = item.parentElement.parentElement.querySelector(".date").textContent
    cost = item.parentElement.parentElement.querySelector(".cost").textContent
    type = item.parentElement.parentElement.querySelector(".type").textContent

    decision = confirm("you are permenently deleting "+name+" item! are you sure?");
    if(decision != true){
      return;
    }
    $.ajax({
            type: "POST",
            url: "/finances",
            data: {"action":"delete",
                   "value": JSON.stringify({"date": date, "name": name, "cost": cost, "type": type}),
                   },
            error: function(data) {
              window.alert("spending tracker failed to delete the value...")
            }
          });
    row = item.parentElement.parentElement;
    row.parentElement.removeChild(row);
  }

  function validateForm(){
    console.log("validate the form TBD")
    var fileName = document.forms["csvUploader"]["file"].value;
    if (fileName == "") {
      alert("Name must be filled out");
      return false;
    }
    extension = fileName.split(".")[1].toLowerCase()
    if(extension !="csv"){
      alert("only the following extensions are allowed: csv");
      return false;
    }
  }
  </script>
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
</head>



<body  class="journal">
<script type="text/javascript">
var page_theme = "{{pageTheme}}";
if (page_theme == "Dark"){
   document.body.classList.add("featured");
}
</script>

<div class="container-fluid bg">
  {% include "trackerModules/graphFuncs.html" %}

  <div class="row">
    <div class="col">
      {% with page="finances" %}
      {% include "generic_modules/header.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-justify">
      <h4 class="title journal" style="margin-left:40%">
        <a class= "arrow hover-red"  onclick="moveYear(-1)">&#9668;</a>
        {{PageYear}}
        <a class= "arrow hover-red"  onclick="moveYear(1)">&#9658;</a>
      </h4>
    </div>
  </div>

  <div class="row" style="margin-top:10px;">

    <div class="col-sm-1 col-xl-1">
            {% with PageYear=PageYear, PageMonth=PageMonth%}
            {% include "generic_modules/monthSelector.html" %}
            {% endwith %}
    </div>

    <div class="col-sm-11 col-lg-6">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div style="background-color:white; margin-top:10px; margin-bottom:5px; border-radius:10px; padding:7px;">
            <p style="color: black; margin-bottom: 5px;">Upload an expense file (.csv):</p>
            <form  name="csvUploader" action = "/financeUploader" method = "POST" enctype = "multipart/form-data" onsubmit="return validateForm()">
              <input type = "file" name = "file" style="color:black;" />
              <input type = "submit" style="float:right;" value="Upload" />
          </form>
          </div>

        </div>
        <div class="col-sm-12 col-lg-12">
          <div id="accordion">

            <div class="card" style="background-color:#bdbdbd;">
              <div class="card-header" id="heading_spending">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_spending" aria-expanded="false" aria-controls="collapse_news">
                    Monthly spending
                  </button>
                </h5>
              </div>
              <div id="collapse_spending" class="collapse show" aria-labelledby="heading_spending" data-parent="#accordion">
                {% with dataset = ChartData["MonthlySpending"], ChartMonthDays = ChartData["ChartMonthDays"], chartType = "bar",
                  thresholds = [200, 500, 1000], trackerName = "spending", unit="(kr)", addAvg="true", tcf="true",
                  pointStyle = 'rect', showTotalVal = True, suggestedMin = 0, yearMonth = "month", clickable="true",
                  accumulate = "true", height = "100px",  width = "95%", url="/finances",
                  bgColors = [ 'rgba(107,174,214, 1)', 'rgba(128,205,193, 1)', 'rgba(254,196,79, 1)', 'rgba(252,146,114, 1)'],
                  bColors = ['rgba(33,113,181, 1)', 'rgba(53,151,143, 1)', 'rgba(236,112,20, 1)', 'rgba(203,24,29, 1)']%}
                {% include "trackerModules/spendingTracker.html" %}
                {% endwith %}
              </div>
            </div>

            <div class="card" style="background-color:#bdbdbd;">
              <div class="card-header" id="heading_breakdown">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_breakdown" aria-expanded="false" aria-controls="collapse_news">
                    Finance breakdown
                  </button>
                </h5>
              </div>
              <div id="collapse_breakdown" class="collapse" aria-labelledby="heading_breakdown" data-parent="#accordion">
                <div style="height:250px; overflow-y:scroll; width:98%; margin-left:1%; background-color: white; color: black; margin-top 10px;">
                  {% with dataset = breakDownValues, ChartMonthDays = breakDownTitles, chartType = "bar",
                    thresholds = [1000, 3000, 5000], trackerName = "spending breakdown", unit="(kr)", addAvg="false", tcf="true",
                    pointStyle = 'rect', showTotalVal = False, suggestedMin = 0, clickable="false",
                    accumulate = "false", height = "90px",  width = "95%", HideLine="ture",
                    bgColors = [ 'rgba(107,174,214, 1)', 'rgba(128,205,193, 1)', 'rgba(254,196,79, 1)', 'rgba(252,146,114, 1)'],
                    bColors = ['rgba(33,113,181, 1)', 'rgba(53,151,143, 1)', 'rgba(236,112,20, 1)', 'rgba(203,24,29, 1)']%}
                  {% include "trackerModules/singleChart.html" %}
                {% endwith %}

                </div>
              </div>
            </div>

            <div class="card" style="background-color:#bdbdbd;">
              <div class="card-header" id="heading_table">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_full_expense" aria-expanded="false" aria-controls="collapse_news">
                    List of this month's expenses
                  </button>
                </h5>
              </div>
              <div id="collapse_full_expense" class="collapse" aria-labelledby="heading_table" data-parent="#accordion">
                <div style="height:250px; overflow-y:scroll; width:98%; margin-left:1%; background-color: white; color: black; margin-top 10px;">
                  <table border="1" style="font-size:10px; width:100%;">
                    <tr>
                      <th style="width:70px;">date</th> <th>item</th> <th style="width:70px;">cost</th> <th style="width:80px;">type</th> <th style="width:60px;"></th>
                    </tr>
                    {% for item in SpendingData%}
                    <tr> <td class="date"> {{item[0]}}</td>
                         <td class="name"> {{item[1]}}</td>
                         <td class="cost"> {{item[2]}}</td>
                         <td class="type"> {{item[3]}}</td>
                         <td> <span class="editDelete" onclick="edit_expense(this)">edit</span>/<span class="editDelete"  onclick="delete_expense(this)">delete</span></td>
                    </tr>
                    {%endfor%}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-11 col-lg-5">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div style="width:95%">
            {% with dataset = ChartData["YearlySpending"], ChartMonthDays = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], chartType = "bar",
              thresholds = [15000, 20000, 30000], trackerName = "yearly spending", unit="(kr)", addAvg="true", tcf="true",
              pointStyle = 'rect', showTotalVal = true, suggestedMin = 0, yearMonth = "year", clickable="false",
              accumulate = "false", height = "100px", url="", width="100%", HideLine="ture",
              bgColors = [ 'rgba(107,174,214, 1)', 'rgba(128,205,193, 1)', 'rgba(254,196,79, 1)', 'rgba(252,146,114, 1)'],
              bColors = ['rgba(33,113,181, 1)', 'rgba(53,151,143, 1)', 'rgba(236,112,20, 1)', 'rgba(203,24,29, 1)']%}
              {% include "trackerModules/singleChart.html" %}
              {% endwith %}
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
          {% with YearsSavings = ChartData["YearsSavings"], ChartYearMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          PageYear = PageYear, PageMonth = PageMonth%}
          {% include "trackerModules/savingTracker.html" %}
          {% endwith %}
        </div>
        <div class="col-sm-12 col-lg-12">
          {% with YearsMortgages = ChartData["YearsMortgages"], MortgagePaid = ChartData["MortgagePaid"], ChartYearMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          PageYear = PageYear, PageMonth = PageMonth, suggestedMax=1120000%}
          {% include "trackerModules/mortgageTracker.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
