  <script type="text/javascript">
  function shutdown(){
    $.ajax({ type: "POST",
        url: "http://"+window.location.hostname+":5000/shutdown"
    });
    logout();
  }
    document.addEventListener('keydown', (e) => {
      if((e.ctrlKey == true) && (e.code === "KeyL")){
        console.log("locking screen!")
        logout();
      }
    });
  </script>

  <div class = "tabBar">
    <a  class="tabBar" href="/home"><div {%if page=="index"%} class="tabButton tbSelected" {%else%} class="tabButton" {%endif%}> <b>Main</b> </div> </a>
    <a  class="tabBar" href="/journal"> <div {%if page=="journal"%} class="tabButton tbSelected" {%else%} class="tabButton" {%endif%} ><b>Journal</b></div></a>
    <a  class="tabBar" href="/org"> <div {%if page=="org"%} class="tabButton tbSelected" {%else%} class="tabButton" {%endif%} ><b>Org.</b></div></a>
    <a  class="tabBar" href="/lists"> <div {%if page=="lists"%} class="tabButton tbSelected" {%else%} class="tabButton" {%endif%} ><b>Lists</b></div></a>
    <a  class="tabBar" href="/notes"> <div {%if page=="notes"%} class="tabButton tbSelected" {%else%} class="tabButton" {%endif%} ><b>Notes</b></div></a>
    <a  class="tabBar" href="/learning"> <div {%if page=="learning"%} class="tabButton tbSelected" {%else%} class="tabButton" {%endif%} ><b>Learning</b></div></a>
    <a  class="tabBar" style="float:right; margin-right:5px;" onclick="shutdown()"> <i class="fa fa-power-off hover-red"></i></a>
    <a  class="tabBar" style="float:right; margin-right:5px;"><i class="fa fa-sign-out hover-red" aria-hidden="true" onclick="logout()"></i></a>
    <a  class="tabBar" style="float:right; margin-right:5px;" href="/settings"><i class="fa myGear hover-red">&#xf013;</i></a>
    <div class="divider"></div>
  </div>
