
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homeAutomation.css') }}">
    <script src="/static/lib/Chart.min.js" charset="utf-8"></script>
    <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>My Journal</title>
</head>

<script type="text/javascript">
const zeroPad = (num, places) => String(num).padStart(places, '0')
tempData = {{daily_data|safe}}


function moveDay(delta){
  date = new Date(parseInt("{{PageYear}}"), parseInt("{{PageMonth}}")-1, parseInt("{{day}}"), 0, 0, 0);
  date.setDate(date.getDate() + delta);
  var dd = date.getDate();
  var mm = date.getMonth()+1; //January is 0!`
  var yyyy = date.getFullYear();
  window.location.href = "/homeAutomation?date="+zeroPad(yyyy, 2)+"-"+zeroPad(mm, 2)+"-"+zeroPad(dd, 2);
}

function drawGauge(gauge, dataset, unit, MinVal, MaxVal, bgc_cold, bgc_warm, tc_cold, tc_warm){
  lastVal = Math.round(dataset[dataset.length-1] * 100) / 100;

  if (lastVal > MaxVal){
    //gauge.style.display = "none";
    //console.log("value over max! value:", lastVal);
    return;
  }
  if (lastVal < MinVal){
    gauge.style.display = "none";
    //console.log("value bellow min! value:", lastVal);
    return;
  }

  var minOfDay = MaxVal
  var maxOfDay = MinVal
  for (var i=0; i<= dataset.length; i++){
    if (minOfDay > dataset[i]){
      minOfDay = dataset[i]
    }
    if (maxOfDay < dataset[i]){
      maxOfDay = dataset[i]
    }
  }
  minOfDay = Math.round(minOfDay * 10) / 10
  maxOfDay = Math.round(maxOfDay * 10) / 10

  numberOfTicks = 20;

  ratio = (lastVal-MinVal)/MaxVal;

  r = ratio*(bgc_warm[0]-bgc_cold[0])+bgc_cold[0]
  g = ratio*(bgc_warm[1]-bgc_cold[1])+bgc_cold[1]
  b = ratio*(bgc_warm[2]-bgc_cold[2])+bgc_cold[2]

  gauge.style.backgroundColor = "rgb("+r+","+g+","+b+")"

  r = ratio*(tc_cold[0]-tc_warm[0])+tc_warm[0]
  g = ratio*(tc_cold[1]-tc_warm[1])+tc_warm[1]
  b = ratio*(tc_cold[2]-tc_warm[2])+tc_warm[2]

  ValDiv = document.createElement("div")
  ValDiv.style.color     = "rgb("+r+","+g+","+b+")";
  ValDiv.style.left      = "20px";
  ValDiv.style.bottom    = "0px";
  ValDiv.style.position  = "absolute";
  ValDiv.style.fontSize  = "18px";
  Val = document.createElement("span")
  Val.textContent = lastVal + unit;
  ValDiv.appendChild(Val)
  gauge.appendChild(ValDiv)

  minValDiv = document.createElement("div")
  minValDiv.style.color     = "rgb("+r+","+g+","+b+")";
  minValDiv.style.left      = "20px";
  minValDiv.style.bottom    = "25px";
  minValDiv.style.position  = "absolute";
  minValDiv.style.fontSize  = "12px";
  minVal = document.createElement("span")
  minVal.textContent = '⇂ ' + minOfDay + unit;
  minValDiv.appendChild(minVal)
  gauge.appendChild(minValDiv)

  maxValDiv = document.createElement("div")
  maxValDiv.style.color     = "rgb("+r+","+g+","+b+")";
  maxValDiv.style.left      = "20px";
  maxValDiv.style.bottom    = "40px";
  maxValDiv.style.position  = "absolute";
  maxValDiv.style.fontSize  = "12px";
  maxVal = document.createElement("span")
  maxVal.innerHTML = '↿ ' + maxOfDay + unit;
  maxValDiv.appendChild(maxVal)
  gauge.appendChild(maxValDiv)

}

function viewroom(item){
  weatherCards = document.getElementsByClassName("weatherCard")
  for (i = 0; i < weatherCards.length; i++) {
    weatherCards[i].style.display="none"
  }
  if (item.getAttribute("number") != 0){
    document.getElementById("room_"+item.getAttribute("number")).style.display="block";
  }else{
    document.getElementById("weather_overview").style.display="block";
  }
}

function editRoomName(item, roomNumber){

  oldValue = item.textContent.trim();
  newName = window.prompt("rename room \"" + oldValue + "\"?",  oldValue).trim();
  $.ajax({
      type: "POST",
      url: "/homeAutomation",
      data: {"action": "rename", "value": JSON.stringify({"roomNumber": roomNumber, "oldValue": oldValue,  "newValue": newName})},
      error: function(data) {
        window.alert("failed to update the room name")
      },
      success: function(data) {
        item.textContent = newName;
      }
  });
}

</script>



<body>
<script type="text/javascript">
var page_theme = "{{pageTheme}}";
if (page_theme == "Dark"){
   document.body.classList.add("featured");
}
</script>

<div class="container-fluid bg">

    {% include "trackerModules/graphFuncs.html" %}

    {% with page="homeAutomation" %}
    {% include "generic_modules/header.html" %}
    {% endwith %}

    <div class="row">
        <div class="col-sm-12 text-justify">
            <h2 class="title journal" style="margin-left:40%">
                <a class= "arrow hover-red"  onclick="moveDay(-1)">&#9668;</a>
                {{PageYear}}-{{'%02d' % (PageMonth)}}-{{'%02d' % (day)}}
                <a class= "arrow hover-red"  onclick="moveDay(1)">&#9658;</a>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1" style="padding-top:20px;">
            <button type="button" class="btn btn-primary" style="font-size: 10px; margin-top: 5px; width:100%" number="0" onclick="viewroom(this)">Overview</button>
            {% for item in daily_data|sort() %}
            <button type="button" class="btn btn-primary" style="font-size: 10px; margin-top: 5px; width:100%" number="{{item}}" onclick="viewroom(this)">{{description[item|string]}}</button>
            {%endfor%}
        </div>

        {% include "homeAutomation_modules/overview.html" %}

        {% for item in daily_data %}
        {% with room=item, description=description%}
        {% include "homeAutomation_modules/roomGauge.html" %}
        {% endwith %}
        {%endfor%}
    </div>
    {% with dir="left" %}
    {% include "generic_modules/divider.html" %}
    {% endwith %}

    <div class="row">
        <div class="col-sm-6" style="margin-top: 20px;">
            {% with light = "1", ip="192.168.1.85"  %}
            {% include "homeAutomation_modules/lightController.html" %}
            {% endwith %}
        </div>
    </div>

    {% with dir="right" %}
    {% include "generic_modules/divider.html" %}
    {% endwith %}

    <div class="row">
        <div class="col-sm-5 ml-5" style="margin-top: 20px;">
            {% with myAnnualConsumption = myAnnualConsumption, ChartYearMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            PageYear = PageYear, PageMonth = PageMonth%}
            {% include "homeAutomation_modules/eConsumptionTracker.html" %}
            {% endwith %}
        </div>
        <div class="col-sm-6" style="margin-top: 20px;">

        </div>
    </div>

    {% with dir="left" %}
    {% include "generic_modules/divider.html" %}
    {% endwith %}

    {% with prep_data = prep_data  %}
        {% include "homeAutomation_modules/prepList.html" %}
    {% endwith %}

    {% with dir="right" %}
    {% include "generic_modules/divider.html" %}
    {% endwith %}

</div>



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

<script type="text/javascript">
    refreshPrepTable()
    var data = {{daily_data|safe}}

    for (item in Object.keys(data)) {
      i = Object.keys(data)[item]
      var gauge_1 = document.getElementById("tempGauge_"+i.toString())
      var gauge_2 = document.getElementById("humidityGauge_"+i.toString())
      var gauge_3 = document.getElementById("pressureGauge_"+i.toString())
      var gauge_4 = document.getElementById("moistureGauge_"+i.toString())
      console.log(gauge_1, gauge_2, gauge_3, gauge_4)
      drawGauge(gauge_1, tempData[i]["temp"],      "°C", 0.01, 60, [231,225,239], [152,0,67], [0,0,0], [0,0,0]);
      drawGauge(gauge_2, tempData[i]["humidity"],   "%", 0.01, 70, [198,219,239], [8,81,156], [0,0,0], [0,0,0]);
      drawGauge(gauge_3, tempData[i]["pressure"], "bar", 0.01, 2,  [0,0,0],       [217,217,217], [240,240,240],   [240,240,240]);
      drawGauge(gauge_4, tempData[i]["moisture"], "%",   0.01, 100,[247,252,185], [35,132,67], [0,0,0], [0,0,0]);

      var gauge_5 = document.getElementById("OV_tempGauge_"+i.toString())
      var gauge_6 = document.getElementById("OV_humidityGauge_"+i.toString())
      var gauge_7 = document.getElementById("OV_pressureGauge_"+i.toString())
      var gauge_8 = document.getElementById("OV_moistureGauge_"+i.toString())
      drawGauge(gauge_5, tempData[i]["temp"],      "°C", 0.01, 60, [231,225,239], [152,0,67], [0,0,0], [0,0,0]);
      drawGauge(gauge_6, tempData[i]["humidity"],   "%", 0.01, 70, [198,219,239], [8,81,156], [0,0,0], [0,0,0]);
      drawGauge(gauge_7, tempData[i]["pressure"], "bar", 0.01, 2,   [0,0,0],       [217,217,217], [240,240,240],   [240,240,240]);
      drawGauge(gauge_8, tempData[i]["moisture"], "%",   0.01, 100, [247,252,185], [35,132,67], [0,0,0], [0,0,0]);
    }

    document.getElementById("weather_overview").style.display="block";
</script>
</html>
