
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/homeAutomation.css') }}">
  <script src="/static/lib/Chart.min.js" charset="utf-8"></script>
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
  <title>My Journal</title>
</head>

<script type="text/javascript">
const zeroPad = (num, places) => String(num).padStart(places, '0')
tempData = {{tempData|safe}}

function drawTempGauge(gauge, temp){
  temp = 44.22;
  temp = Math.round(temp * 10) / 10;
  MinTemp = 10; MaxTemp = 50;
  if (temp > MaxTemp){
    console.log("temp over max!");
    return;
  }
  if (temp < MinTemp){
    console.log("temp bellow min!");
    return;
  }

  numberOfTicks = 20;

  hotColorRGB = [152,0,67];
  coldColor   = [231,225,239];
  ratio = (temp-MinTemp)/MaxTemp;

  r = ratio*(hotColorRGB[0]-coldColor[0])+coldColor[0]
  g = ratio*(hotColorRGB[1]-coldColor[1])+coldColor[1]
  b = ratio*(hotColorRGB[2]-coldColor[2])+coldColor[2]

  gauge.style.backgroundColor = "rgb("+r+","+g+","+b+")"

  hotColorRGB = [4,   90,  141];
  coldColor   = [236, 231, 242];

  r = ratio*(coldColor[0]-hotColorRGB[0])+hotColorRGB[0]
  g = ratio*(coldColor[1]-hotColorRGB[1])+hotColorRGB[1]
  b = ratio*(coldColor[2]-hotColorRGB[2])+hotColorRGB[2]

  tempValDiv = document.createElement("div")
  tempValDiv.style.color     = "rgb("+r+","+g+","+b+")";
  tempValDiv.style.width     = "100%";
  tempValDiv.style.left      = "0px";
  tempValDiv.style.bottom    = "10px";
  tempValDiv.style.position  = "absolute";
  tempValDiv.style.fontSize  = "70px";
  tempValDiv.style.textAlign = "center";
  tempVal = document.createElement("span")
  tempVal.textContent = temp+"°";
  tempValDiv.appendChild(tempVal)
  gauge.appendChild(tempValDiv)

  // big ticks
  for (var i=0; i<=numberOfTicks; i++){
    tick = document.createElement("div")
    tick.style = "width: 10px; height: 2px; position: absolute; background-color:rgb("+r+","+g+","+b+");";
    tick.style.left   =  (120+Math.cos(Math.PI*(i/numberOfTicks))*100)+"px";
    tick.style.bottom =  (10+Math.sin(Math.PI*(i/numberOfTicks))*100)+"px";
    tick.style.transformOrigin = "bottom left";
    tick.style.transform = "rotate(-"+(180/numberOfTicks)*i+"deg)";
    gauge.appendChild(tick)
  }

  // small ticks
  for (var j=1; j<=2*numberOfTicks; j=j+2){
    tick = document.createElement("div")
    tick.style = "width: 5px; height: 2px; position: absolute; background-color:rgb("+r+","+g+","+b+");";
    tick.style.left   =  (120+Math.cos(Math.PI*(j/(2*numberOfTicks)))*100)+"px";
    tick.style.bottom =  (10+Math.sin(Math.PI*(j/(2*numberOfTicks)))*100)+"px";
    tick.style.transformOrigin = "bottom left";
    tick.style.transform = "rotate(-"+((180/(2*numberOfTicks))*j)+"deg)";
    gauge.appendChild(tick)
  }

  handleAngle = 180 - ((temp-MinTemp)/(MaxTemp-MinTemp))*180
  handle = document.createElement("div")
  handle.style.backgroundColor="rgb("+r+","+g+","+b+")";
  handle.classList.add("handle")
  handle.style.transform = "rotate(-"+handleAngle+"deg)";
  gauge.appendChild(handle)

  handleBase = document.createElement("div")
  handleBase.classList.add("handleBase");
  handleBase.style.backgroundColor="rgb("+r+","+g+","+b+")";
  gauge.appendChild(handleBase)

}

function drawHumidtyGauge(gauge, humidity){
  humidity = Math.round(humidity * 10) / 10;
  humidity = 10.1
  MinHumid = 0; MaxHumid = 100;

  ratio = (humidity-MinHumid)/MaxHumid;

  coldColor = [198,219,239];
  hotColorRGB   = [8,81,156];

  r = ratio*(hotColorRGB[0]-coldColor[0])+coldColor[0]
  g = ratio*(hotColorRGB[1]-coldColor[1])+coldColor[1]
  b = ratio*(hotColorRGB[2]-coldColor[2])+coldColor[2]

  gauge.style.backgroundColor = "rgb("+r+","+g+","+b+")"

  humidityDiv = document.createElement("div")
  humidityDiv.style.color     = "white";
  humidityDiv.style.width     = "100%";
  humidityDiv.style.left      = "0px";
  humidityDiv.style.bottom    = "10px";
  humidityDiv.style.position  = "absolute";
  humidityDiv.style.fontSize  = "90px";
  humidityDiv.style.textAlign = "center";
  humidityVal = document.createElement("span")
  humidityVal.textContent = humidity+"%";
  humidityDiv.appendChild(humidityVal)
  gauge.appendChild(humidityDiv)

}


function drawLightGauge(gauge, light){
  light = Math.round(light * 10) / 10;
  light = 10.1
  MinLight = 0; MaxLight = 100;

  ratio = (light-MinLight)/MaxLight;

  coldColor = [0,0,0];
  hotColorRGB   = [217,217,217];

  r = ratio*(hotColorRGB[0]-coldColor[0])+coldColor[0]
  g = ratio*(hotColorRGB[1]-coldColor[1])+coldColor[1]
  b = ratio*(hotColorRGB[2]-coldColor[2])+coldColor[2]

  gauge.style.backgroundColor = "rgb("+r+","+g+","+b+")"

  lightValDiv = document.createElement("div")
  lightValDiv.style.color     = "white";
  lightValDiv.style.width     = "100%";
  lightValDiv.style.left      = "0px";
  lightValDiv.style.bottom    = "10px";
  lightValDiv.style.position  = "absolute";
  lightValDiv.style.fontSize  = "90px";
  lightValDiv.style.textAlign = "center";
  lightVal = document.createElement("span")
  lightVal.textContent = light+"%";
  lightValDiv.appendChild(lightVal)
  gauge.appendChild(lightValDiv)

}

function toggle(){
  if (document.getElementById("monthlyToggle").checked){
    document.getElementById("monthlyDisplay").style.display = "none";
    document.getElementById("dailyDisplay").style.display = "inline";
  }else{
    document.getElementById("monthlyDisplay").style.display = "inline";
    document.getElementById("dailyDisplay").style.display   = "none";

  }
}
</script>

{%if pageTheme=="Dark"%}
  <body class="featured">
{% else %}
  <body>
{% endif %}

{% include "trackerModules/graphFuncs.html" %}

{% with page="homeAutomation" %}
    {% include "generic_modules/header.html" %}
{% endwith %}

<div style="float:right;  width:100%;">
  <label class="switch" style="float:right">
      <input type="checkbox" id= "monthlyToggle" onclick="toggle()" checked>
    <span class="slider round"></span>
  </label>
</div>

<div id="dailyDisplay" style="float:right; margin-top:20px; width:100%;">
  {% for room in tempData %}
    <div style="float: left; margin-bottom:10px; height:165px; background-color:#54278f; border-radius:10px;">
      <div id="tempGauge" style="float: left; margin-top: 10px; margin-left: 5px; margin-right: 5px; position:relative; width:240px; height:145px; border-radius:20px;">
        <h5 style="float: left; margin-left: 10px; margin-top:5px;">Temperature</h5>
      </div>
      <div id="humidityGauge" style="float: left; margin-top: 10px; margin-left: 5px; margin-right: 5px; position:relative; width:240px; height:145px; border-radius:20px;">
        <h5 style="float: left; margin-left: 10px; margin-top:5px;">Humidty</h5>
      </div>
      <div id="lightGauge" style="float: left; margin-top: 10px; margin-left: 5px; margin-right: 5px; position:relative; width:240px; height:145px; border-radius:20px;">
        <h5 style="float: left; margin-left: 10px; margin-top:5px; color:white;">Light Level</h5>
      </div>
    </div>
  {%endfor%}

</div>


<div id="monthlyDisplay" style="float:right; margin-top:20px; width:100%; display:none">
  <div style="float: left; width:600px;height:100%">
    {% with dataset = tempData["room_1"]["temp"], ChartMonthDays = tempData["room_1"]["time"], chartType = "line",
          thresholds = [25], trackerName = "Temperature", unit="(%)", addAvg="false", tcf="true",
          pointStyle = 'rect', showTotalVal = false, suggestedMin = 0, yearMonth = "", clickable="false",
          accumulate = "false", width = "95%",
          bgColors = ['rgba(67,147,195, 0.5)', 'rgba(116,196,118, 0.5)'],
          bColors = ['rgba(67,147,195, 1)', 'rgba(116,196,118, 1)']%}
      {% include "trackerModules/singleChart.html" %}
    {% endwith %}
  </div>
  <div style="float: left; width:600px;height:100%">
    {% with dataset = tempData["room_1"]["temp"], ChartMonthDays = tempData["room_1"]["time"], chartType = "line",
          thresholds = [25], trackerName = "Humidty", unit="(%)", addAvg="false", tcf="true",
          pointStyle = 'rect', showTotalVal = false, suggestedMin = 0, yearMonth = "", clickable="false",
          accumulate = "false", width = "95%",
          bgColors = ['rgba(67,147,195, 0.5)', 'rgba(116,196,118, 0.5)'],
          bColors = ['rgba(67,147,195, 1)', 'rgba(116,196,118, 1)']%}
      {% include "trackerModules/singleChart.html" %}
    {% endwith %}
  </div>
</div>

</body>

<script type="text/javascript">
gauge_1_1 = document.getElementById("tempGauge")
gauge_1_2 = document.getElementById("humidityGauge")
gauge_1_3 = document.getElementById("lightGauge")
drawTempGauge(gauge_1_1, tempData["room_1"]["temp"][tempData["room_1"]["temp"].length-1]/100);
drawHumidtyGauge(gauge_1_2, tempData["room_1"]["temp"][tempData["room_1"]["temp"].length-1]/100);
drawLightGauge(gauge_1_3, 20)
</script>
</html>
