<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <script src="/static/lib/Chart.min.js" charset="utf-8"></script>
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
  <title>My Journal</title>
</head>

{%if pageTheme=="Dark"%}
<body class="featured">
{% else %}
<body>
{% endif %}
<div id="overlay">
  <div style="border-radius: 20px; margin-left: 40%; margin-top: 20%;width:200px;height:70px;background-color:white; text-align: center;">
    enter your password</br>
    <input type="password" id="password"><br>
    <input type="submit" style="margin-left: 30%; margin-top: 5px;" onclick="login()">
  </div>
</div>

<script type="text/javascript">
  function login(){
    var password = document.getElementById("password").value;
     document.getElementById("password").value = "";
    $.ajax({
        type: "POST",
        url: "http://localhost:5000/home",
        data: {"password": password},
    }).success(function(result){
      if (result == "success"){
        localStorage.setItem('token',"true");
        document.getElementById("overlay").style.display = "none";
        document.getElementById("password").style.backgroundColor = "white";
      }
      else{
        document.getElementById("password").style.backgroundColor = "#fc9272";
      }
    })
  }

  function checkLoggedIn () {
    const token = localStorage.getItem('token');
    if (token === "false"){
      document.getElementById("overlay").style.display = "block";
    }
  }

  function logout(){
    document.getElementById("overlay").style.display = "block";
    localStorage.setItem('token',"false");
  }

  checkLoggedIn();
</script>

  {% include "trackerModules/graphFuncs.html" %}

  {% with page="index" %}
    {% include "header.html" %}
  {% endwith %}

  <div>
    <!-- Header! -->
    <h1 style= "font-family:Impact;"> <font style="text-decoration: underline;"> {{ name }}</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if PageMonth > 1  %}
      <a class= "arrow" href="/home?date={{PageYear}}-{{'%02d' % (PageMonth-1)}}">&#9668;</a>
    {% else %}
      <a class= "arrow" href="/home?date={{PageYear-1}}-{{'%02d' % (12)}}">&#9668;</a>
    {% endif %}
    {{titleDate}}
    {% if PageMonth < 12  %}
      <a class= "arrow" href="/home?date={{PageYear}}-{{'%02d' % (PageMonth+1)}}">&#9658;</a>
    {% else %}
      <a class= "arrow" href="/home?date={{PageYear+1}}-{{'%02d' % (1)}}">&#9658;</a>
    {% endif %}
    </h1>

    <div style="width:120px;float:left; margin-right:10px;margin-top:5px;">

      <div style="float:right;">
      <!-- weather widget start -->
      {%if pageTheme=="Dark"%}
        <script type='text/javascript' src='https://darksky.net/widget/default-small/55.7081,13.1973/uk12/en.js?width=100%&height=60&title=Full Forecast&textColor=d9d9d9&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Default&customFont=&units=uk'></script>
      {%else%}
        <script type='text/javascript' src='https://darksky.net/widget/default-small/55.7081,13.1973/uk12/en.js?width=100%&height=60&title=Full Forecast&textColor=1b46ae&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Default&customFont=&units=uk'></script>
      {%endif%}
      <!-- weather widget end -->
      </div>

    {% with counterValue = counterValue %}
        {% include "trackerModules/counter.html" %}
    {% endwith %}

    {% with days = days, highlight=highlight,today=today, activityList=activityList, monthsActivitiesPlanned=monthsActivitiesPlanned%}
        {% include "trackerModules/activityTracker.html" %}
    {% endwith %}

    {% with days = days, moods = moods, PageYear=PageYear, PageMonth=PageMonth, today=today %}
        {% include "trackerModules/moodTracker.html" %}
    {% endwith %}


    <div style="margin-left: 5px;float:left; min-width:130px;">
      {%if pageTheme=="Dark"%}
      <img src= "{{url_for('static', filename = 'decorationImages/page1_Large_dark.png')}}" float="right" width="130" alt="page1_Large_dark">
      {% else %}
      <img src= "{{url_for('static', filename = 'decorationImages/page1_Large.png')}}" float="right" width="130" alt="page1_Large">
      {% endif %}
    </div>

    <div style="width:100%; margin-left:5px;  margin-bottom: 10px; float:left; min-width:200px;">
      <div class="divider" style="width:90%; height:4px; float:left; margin-left: 3.3%; margin-top: 18px;"></div>
      <img src= "{{url_for('static', filename = 'decorationImages/page1_Small.png')}}" float="left" width="50px" alt="page1_Small">
    </div>

    {% with monthsWorkHours = monthsWorkHours, ChartMonthDays = ChartMonthDays %}
        {% include "trackerModules/workHourTracker.html" %}
    {% endwith %}

    {% with YearsSavings = YearsSavings, ChartYearMonths = ChartYearMonths,
            PageYear = PageYear, PageMonth = PageMonth%}
        {% include "trackerModules/savingTracker.html" %}
    {% endwith %}

    <div style="width:100%; margin-right:5px; margin-bottom: 10px; float:left; min-width:200px;">
      <div class="divider" style="width:90%; height:4px; float:right; margin-right: 3.3%; margin-top: 18px;"></div>
      <img src= "{{url_for('static', filename = 'decorationImages/page1_Small.png')}}" style="transform: rotate(180deg); float:right" width="50px" alt="page1_Small">
    </div>

    {% with monthsWeights = monthsWeights, ChartMonthDays = ChartMonthDays %}
        {% include "trackerModules/weightTracker.html" %}
    {% endwith %}

    {% with HR_Max = HR_Max, HR_Min = HR_Min, ChartMonthDays = ChartMonthDays %}
        {% include "trackerModules/heartRateTracker.html" %}
    {% endwith %}

    {% with monthsSleepTimes = monthsSleepTimes, ChartMonthDays = ChartMonthDays, PageYear = PageYear, PageMonth = PageMonth %}
        {% include "trackerModules/sleepTracker.html" %}
    {% endwith %}

    {% with monthsSteps = monthsSteps, ChartMonthDays = ChartMonthDays, PageYear = PageYear, PageMonth = PageMonth %}
        {% include "trackerModules/stepTracker.html" %}
    {% endwith %}

    {% with monthsRuns = monthsRuns, monthsPaces = monthsPaces, ChartMonthDays = ChartMonthDays, PageYear = PageYear, PageMonth = PageMonth %}
        {% include "trackerModules/runningTracker.html" %}
    {% endwith %}


    <div style="width:100%; margin-left:5px;  margin-bottom: 10px; float:left; min-width:200px;">
      <div class="divider" style="width:90%; height:4px; float:left; margin-left: 3.3%; margin-top: 18px;"></div>
      <img src= "{{url_for('static', filename = 'decorationImages/page1_Small.png')}}" float="left" width="50px" alt="page1_Small">
    </div>

</body>

<script>

function renderchart() {
   renderWorkHourChart();
   renderHeartRateChart();
   renderWeightTrackerChart();
   renderSleepTrackerChart();
   renderSavingTrackerChart();
   renderStepTrackerChart();
   renderRunningTrackerChart();
}

window.onload = renderchart;
</script>
</html>
