<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="/static/lib/WorldMap/dist/css/jsvectormap.css" />
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <script src="/static/lib/WorldMap/dist/js/jsvectormap.min.js"></script>
  <script src="/static/lib/Chart.min.js" charset="utf-8"></script>
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
  <title>My Journal</title>
</head>

{%if pageTheme=="Dark"%}
<body class="featured">
{% else %}
<body>
{% endif %}

  {% include "trackerModules/graphFuncs.html" %}

  {% with page="index" %}
    {% include "generic_modules/header.html" %}
  {% endwith %}

<!--- %%%%%%%%%%%%%%    Home Header    %%%%%%%%%%%%%% ---->
  {% include "home_modules/home_header.html" %}

<!--- %%%%%%%%%%%%%%    Monthly View    %%%%%%%%%%%%%% ---->
  {% if request.args.get('yearlyView') == "True" %}
    <div id="MonthlyDisplay" style="display:none;">
  {%else%}
    <div id="MonthlyDisplay">
  {%endif%}

  {% with page="index" %}
    {% include "home_modules/monthlyView.html" %}
  {% endwith %}
  </div>

<!--- %%%%%%%%%%%%%%    YEARLY View    %%%%%%%%%%%%%% ---->
  {% if request.args.get('yearlyView') == "True" %}
    <div id="YearlyDisplay">
  {%else%}
    <div id="YearlyDisplay" style="display:none;">
  {%endif%}

  {% with page="index" %}
    {% include "home_modules/yearlyView.html" %}
  {% endwith %}
  </div>

</body>

<script>

function renderchart() {
   renderHeartRateChart();
   renderHeartRateChartYear();
   renderSavingTrackerChart();
   renderRunningTrackerChart();
   renderHeartBPChart();
}

window.onload = renderchart;
</script>
</html>
