<!DOCTYPE html>


<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/journal.css') }}">
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
</head>

{%if pageTheme=="Dark"%}
  <body  class="journal featured">
{% else %}
  <body  class="journal" background="{{url_for('static', filename='decorationImages/journal_background.png') }}">
{% endif %}

{% with page="journal" %}
    {% include "generic_modules/header.html" %}
{% endwith %}

<!-- daily entry -->
{% include "journal_modules/daily_entry.html" %}

<!-- selector header -->
{% include "journal_modules/journal_header.html" %}

<!-- left-side monthly selector -->
{% with PageYear=year, PageMonth=month%}
  {% include "generic_modules/monthSelector.html" %}
{% endwith %}


<div  style="width:58%; min-height: 400px; float:left; margin-left:10px; margin-top:10px;">
  <!-- log! -->
  <div id= "todayslog" class="logText">
    {% autoescape false %}
    {{log}}
    {% endautoescape %}
  </div>
  <!-- Photos! -->
  <div style="margin-bottom:10px;">
    <hr>
    <h2 class="photos" style="float:left"> media </h2>
    {% include "journal_modules/uploader.html" %}
    <br>
    {% include "journal_modules/journal_photo.html" %}
  </div>
</div>

<div style="margin-right: 20px;float:right;">
  <img src= "{{url_for('static', filename = 'decorationImages/journal_overlay.png')}}" float="right" width = "120" alt="roy">
</div>

</body>

</html>
