<!DOCTYPE html>


<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  <script type="text/javascript">
    function submitEntry(){
      var newText = document.getElementById("dailyEntry").value;
      $.ajax({ type: "POST",
          url: "http://localhost:5000/journal",
          data: {"entry": "log", "value":newText, "date": document.getElementById("dailyEntry").name},
      });
      document.getElementById("todayslog").innerHTML = newText.replace(/\n/g, "<br>");;
    }
    function validateForm() {
      var fileName = document.forms["photoUploader"]["file"].value;
      if (fileName == "") {
        alert("Name must be filled out");
        return false;
      }
      if(fileName.split(".")[1].toLowerCase()!=="jpg"){
        alert("only jpg files are allowed");
        return false;
      }
    }
  </script>
</head>

{%if pageTheme=="Dark"%}
  <body  class="journal featured" background="{{url_for('static', filename='journal_background.png') }}">
{% else %}
  <body  class="journal" background="{{url_for('static', filename='journal_background.png') }}">
{% endif %}

{% with page="journal" %}
    {% include "header.html" %}
{% endwith %}

  <!-- daily entry -->
  <div class="dailyEntry">
     <h2  class="title lightbg">Edit Today's Entry</h2>
     <form action="javascript:;" onsubmit="return submitEntry();">
        <textarea id="dailyEntry" name= "{{year}}-{{'%02d' % (month)}}-{{'%02d' % (day)}}" type="text" cols="40" rows="5" class="dailyEntry">{{todaysLogText|string()}}</textarea><br>
        <input type="submit" style="margin-left: 80%;">
     </form>
  </div>

  <div style="margin-bottom:90px;width:67%;">
    <div style="float:left; height:50px;margin-right:10px;">
      <h1> <font style="text-decoration: underline;"> Journal </font></h1>
    </div>

    <div style="float:left; width:690px;">
    <h2 class="title journal">
      {% if month > 1  %}
        <a class= "arrow"  href="/journal?date={{year}}-{{'%02d' % (month-1)}}-{{'%02d' % (day)}}">&#9668;</a>
      {% else %}
        <a class= "arrow"  href="/journal?date={{year-1}}-{{'%02d' % (12)}}-{{'%02d' % (day)}}">&#9668;</a>
      {% endif %}
      {{year}}-{{'%02d' % (month)}}
      {% if month < 12  %}
        <a class= "arrow" href="/journal?date={{year}}-{{'%02d' % (month+1)}}-{{'%02d' % (day)}}">&#9658;</a>
      {% else %}
        <a class= "arrow" href="/journal?date={{year+1}}-{{'%02d' % (1)}}-{{'%02d' % (day)}}">&#9658;</a>
      {% endif %}
    </h2>

    <!-- Day selector header!-->
    <table border="0" style="border-spacing: 0px; margin-left:10px;float:left;">
      <tr>
        {% set ns1 = namespace (daysOfTheWeek = "MTWTFSS")%}
        {% set ns2 = namespace (daysOfTheWeekCap = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"])%}
        {% for i in range(0, numberOfDays) %}
          {%if i+1 == day %}
            <td class="DS DStoday"><font class="DSfontToday"><b>{{ns2.daysOfTheWeekCap[(i+monthsBeginning)%7]}}</b></font></td>
          {%else%}
              {% if i+1 in logged_days  %}
                <td class="DS DSFilled"><a class="arrow" href="/journal?date={{year}}-{{'%02d' % (month)}}-{{'%02d' % (i+1)}}"><font class="DSfontFilled" >{{ns1.daysOfTheWeek[(i+monthsBeginning)%7]}}</font></a></td>
              {%else%}
                <td class="DS"><a class="arrow" href="/journal?date={{year}}-{{'%02d' % (month)}}-{{'%02d' % (i+1)}}"><font class="DSfont">{{ns1.daysOfTheWeek[(i+monthsBeginning)%7]}}</font></a></td>
              {%endif%}
          {%endif%}
        {%endfor%}
      </tr>
      <tr>
        {% for i in range(1, numberOfDays+1) %}
            {% if i == day  %}
              <td  class="DS DStoday DSbottom"> <font class="DSfontToday"><b>{{i}}</b></a></font></td>
            {%else%}
              {% if i in logged_days  %}
                <td class="DS DSFilled DSbottom"><a class= "arrow" href="/journal?date={{year}}-{{'%02d' % (month)}}-{{'%02d' % (i)}}"><font class="DSfontFilled"><b>{{i}}</b></font></a></td>
              {%else%}
                <td class="DS DSbottom"><a class= "arrow" href="/journal?date={{year}}-{{'%02d' % (month)}}-{{'%02d' % (i)}}"><font class="DSfont"><b>{{i}}</b></font></a></td>
              {%endif%}
            {%endif%}
        {%endfor%}
      </tr>
    </table>
    </div>
    <div class="divider" style="width:96.5%; height:5px; float:left; margin-bottom:10px;"></div>
  </div>

  <div  style="width:65%; min-height: 400px; float:left;">
    <div id= "todayslog" class="logText">
      {% autoescape false %}
      {{log}}
      {% endautoescape %}
    </div>
    <hr>
    <div  style="width:350px; background-color: white; margin-top: 10px; margin-bottom: 10px; padding: 10px 10px 10px 10px;border-radius:10px;">
      Upload a photo:
      <form  name="photoUploader" action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data" style="margin-top:5px;" onsubmit="return validateForm()">
          <input type = "file" name = "file" />
          <input type="text" name="date" value = "{{year}}-{{'%02d' % (month)}}-{{'%02d' % (day)}}" style ="display:none;">
          <input type = "submit" style="float:right;" value="Upload" />
      </form>
    </div>
    {%if todayPhotos|length >0%}
      <div style="margin-bottom:10px;">
        <hr>
        <h2 class="photos">   photos: </h2>
        {% for photo in todayPhotos%}
          <img src= "static/photos/{{ photo }}" alt="image alt text" width="120"/>
        {% endfor %}
      </div>
    {%endif%}
  </div>

  <div style="margin-right: 20px;float:right;">
    <img src= "{{url_for('static', filename = 'journal_overlay.png')}}" float="right" width="120" alt="roy">
  </div>

  </body>
</html>
