<!DOCTYPE html>

<html lang="en">
<head>
  <style>
  input[type='checkbox']:checked + span{
    text-decoration:line-through;
  }
  </style>
  <meta charset="utf-8"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>

{%if pageTheme=="Dark"%}
  <body  class="journal featured" background="{{url_for('static', filename='journal_background.png') }}">
{% else %}
  <body  class="journal" background="{{url_for('static', filename='journal_background.png') }}">
{% endif %}

{% with page="lists" %}
    {% include "header.html" %}
{% endwith %}

  {%for listName, listContent, Type in [("Book List", readList, "book"),
                                        ("Anime List", animeList, "anime"),
                                        ("Movie/Series List", movieList, "movie"),
                                        ("Bucket List", bucketList, "bucketList")]%}
  <div>
    <div style="margin-top: 40px; margin-left: 1%; width:32%; float:left;">
      <div style = "width:100%;">
        <b class="titleNewTask">Add new item:</b> <input id="input" name={{Type}} type="text" onkeypress="submitonEnter(event)"><br>
      </div><br>
      {% set ns = namespace(done_numbers = 0) %}
      <div class = "todoTasks" style="width:95%;">
        <h2 class="title lightbg">&nbsp;{{listName}}</h2>
        <div class ="todoTasksScorlable">
          <ul id = {{Type}} class="todoList">
            {%for item, done in listContent%}
              {%if done == 'false'%}
                <li>
                  <input type="checkbox"; onchange="boxchange(event)"; style="margin-right:5px">
                  <span class="task" type={{Type}}>{{item}}</span>
                  <span style="float:right; margin-right:10px;" onclick="deleteTodo(event)"><i class="fa fa-trash-o"></i> </span>
                </li>
              {%else%}
              {% set ns.done_numbers = ns.done_numbers + 1 %}
                <li>
                  <input type="checkbox"; onchange="boxchange(event)"; checked style="margin-right:5px">
                  <span class="task" type={{Type}}>{{item}}</span>
                  <span style="float:right; margin-right:10px;" onclick="deleteTodo(event)"><i class="fa fa-trash-o"></i> </span>
                </li>
              {%endif%}
            {%endfor%}
          </ul>
        </div>
      </div>
      <font style="color:white">Finished {{listName}} items: {{ns.done_numbers}}</font>
      </div>
    </div>
    {%endfor%}

  </body>

<script type="text/javascript">

function deleteTodo(item) {
      var listItem = event.srcElement.parentElement.parentElement;
      $.ajax({ type: "POST",
          url: "http://localhost:5000/lists",
          data: {"name": listItem.querySelector(".task").innerHTML, "type": listItem.querySelector(".task").getAttribute("type"), "delete": '1'}
      });
      listItem.remove();
    }

function boxchange(event) {
      var listItem = event.srcElement.parentElement;

      $.ajax({ type: "POST",
          url: "http://localhost:5000/lists",
          data: {"name": listItem.querySelector(".task").innerHTML, "type": listItem.querySelector(".task").getAttribute("type"), "done": listItem.querySelector("input").checked}
      });
     }

function submitonEnter(event) {
  if (event.keyCode == 13) {
          // console.log(event.srcElement.name)
          $.ajax({ type: "POST",
              url: "http://localhost:5000/lists",
              data: {"name": event.srcElement.value,
                     "type": event.srcElement.name,
                     "done": 'false'}
          });

          // add the new element to the list!
          var li = document.createElement("li");
          var input = document.createElement("input");
          input.setAttribute('type', 'checkbox');
          input.setAttribute('onchange', 'boxchange(event)');
          input.setAttribute('style', 'margin-right:10px');
          var span1 = document.createElement("span");
          span1.setAttribute("class", "task");
          span1.setAttribute("type", event.srcElement.name);
          span1.innerHTML= event.srcElement.value;

          li.appendChild(input);
          li.appendChild(span1);

          var span2 = document.createElement("span");
          span2.onclick = function () {deleteTodo(this);}
          span2.style.float = "right";
          span2.style.marginRight = "10px";

          var i = document.createElement("i");
          i.setAttribute('class',"fa fa-trash-o");
          span2.appendChild(i);
          li.innerHTML += "&nbsp";
          li.appendChild(span2);
          var ul = document.getElementById(event.srcElement.name);
          ul.appendChild(li);
          // clear the text in the input line!
          event.srcElement.value = "";
      }
  };
</script>
</html>
