<!DOCTYPE html>

<html lang="en">
<head>
  <style>
  input[type='checkbox']:checked + span{
    text-decoration:line-through;
  }
  </style>
  <meta charset="utf-8"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>

{%if pageTheme=="Dark"%}
  <body  class="journal featured">
{% else %}
  <body  class="journal" background="{{url_for('static', filename='decorationImages/journal_background.png') }}">
{% endif %}

{% with page="lists" %}
    {% include "header.html" %}
{% endwith %}

  {%for listName, listContent, Type in [("Book List", readList, "book"),
                                        ("Anime List", animeList, "anime"),
                                        ("Movie/Series List", movieList, "movie"),
                                        ("Bucket List", bucketList, "bucketList"),
                                        ("To-Learn List", toLearnList, "toLearnList")]%}
      {% with listName = listName, listContent = listContent, Type = Type %}
          {% include "lists_modules/lists.html" %}
      {% endwith %}
  {%endfor%}

  </body>

<script type="text/javascript">

function validateListInput(value){
  if(value.length == 0){
    window.alert("input field can not be empty!");
    return false;
  }
  return true;
}

function deleteItem(item) {
      var listItem = event.srcElement.parentElement.parentElement;
      $.ajax({ type: "POST",
          url: "http://localhost:5000/lists",
          data: {"name": listItem.querySelector(".task").innerHTML, "type": listItem.querySelector(".task").getAttribute("type"), "action": "delete"}
      });
      listItem.remove();
    }

function boxchange(event) {
      var listItem = event.srcElement.parentElement;
      var type = listItem.querySelector(".task").getAttribute("type");
      var name = listItem.querySelector(".task").innerHTML;
      var checked =  listItem.querySelector("input").checked;
      var value = parseInt(document.getElementById("count "+type).textContent)
      if(checked){
          document.getElementById("count "+type).textContent = value + 1;
      }else{
          document.getElementById("count "+type).textContent = value - 1;
      }
      $.ajax({ type: "POST",
          url: "http://localhost:5000/lists",
          data: {"name": name, "type": type, "done": checked}
      });
     }

function submitonEnter(event) {
  if (event.keyCode == 13) {
        var listItemValue = event.srcElement.value;
        var listItemType = event.srcElement.name;
        if (!validateListInput(listItemValue)){
          return;
        }
        $.ajax({ type: "POST",
            url: "http://localhost:5000/lists",
            data: {"name": listItemValue,
                   "type": listItemType,
                   "done": 'false'}
        });

          // add the new element to the list!
          var li = document.createElement("li");
          var input = document.createElement("input");
          input.setAttribute('type', 'checkbox');
          input.setAttribute('onchange', 'boxchange(event)');
          input.setAttribute('style', 'margin-right:10px');
          var span1 = document.createElement("span");
          span1.setAttribute("class", "task");
          span1.setAttribute("type", event.srcElement.name);
          span1.innerHTML= event.srcElement.value;

          li.appendChild(input);
          li.appendChild(span1);

          var span2 = document.createElement("span");
          span2.onclick = function () {deleteItem(this);}
          span2.style.float = "right";
          span2.style.marginRight = "10px";

          var i = document.createElement("i");
          i.setAttribute('class',"fa fa-trash-o hover-red");
          span2.appendChild(i);
          li.innerHTML += "&nbsp";
          li.appendChild(span2);
          var ul = document.getElementById(event.srcElement.name);
          ul.appendChild(li);
          // clear the text in the input line!
          event.srcElement.value = "";
      }
  };
</script>
</html>
