<!DOCTYPE html>

<html lang="en">
<head>
  <style>
  input[type='checkbox']:checked + span{
    text-decoration:line-through;
  }
  </style>
  <meta charset="utf-8"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</head>

{%if pageTheme=="Dark"%}
  <body  class="journal featured">
{% else %}
  <body  class="journal" background="{{url_for('static', filename='decorationImages/journal_background.png') }}">
{% endif %}

{% with page="lists" %}
    {% include "header.html" %}
{% endwith %}

  {%for listName, listContent, Type in [("Book List", readList, "book"),
                                        ("Anime List", animeList, "anime"),
                                        ("Movie/Series List", movieList, "movie"),
                                        ("Bucket List", bucketList, "bucketList"),
                                        ("To-Learn List", toLearnList, "toLearnList")]%}
      {% with listName = listName, listContent = listContent, Type = Type %}
          {% include "lists_modules/lists.html" %}
      {% endwith %}
  {%endfor%}

  </body>


</html>
