<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/notes.css') }}">
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>

  <style>
    pre{
      padding: 10px 10px 10px 10px;
      color: black;
      background-color: #d9d9d9;
    }
  </style>
  <script>
  var tempNotebooks = {{Notebooks | safe}}
  </script>
  <script src="{{ url_for('static', filename='js/notesFunctions.js') }}"></script>
</head>

{%if pageTheme=="Dark"%}
  <body  class="journal featured">
{% else %}
  <body  class="journal">
{% endif %}

{% with page="notes" %}
    {% include "header.html" %}
{% endwith %}

  <div id="notebookLabels">
    {% for notebook in Notebooks.keys()|sort() %}
      {%if notebook == Notebooks.keys()|sort()|first %}
      <div class= "notebookLabel selected" onclick="selectNoteBook(this)" ondblclick="editNoteBook(this)" onmouseenter="noteBookMouseIn(this)" onmouseleave="noteBookMouseOut(this)" >{{notebook}}</div>
      {%else%}
      <div class= "notebookLabel" onclick="selectNoteBook(this)" ondblclick="editNoteBook(this)" onmouseenter="noteBookMouseIn(this)" onmouseleave="noteBookMouseOut(this)">{{notebook}}</div>
      {%endif%}
    {% endfor %}
      <div class= "notebookLabel" onclick="addNotebook(this)">
        <span class="addNotebookText">+ Add new Notebook</span>
        <textarea class="addNotebookTextArea" cols="15" rows="1" style="margin-left: 10px; display:none" onkeypress="{
          var key = window.event.keyCode;
          if (key === 13) {createNewNotebook(this)}}"> </textarea>
      </div>
  </div>

  <div id="notebook_background">
    <i class="fa fa-search searchIcon hover-red" onclick="setupSearchPage()"></i>
    <h2 class="title"> <span id ="notebookName">{{Notebooks.keys()|sort()|first}}</span> Notebook </h2>
    <div class="ToCDiv" style= "">
        <h2 class="title"> ToC </h2>
        <div id="tocContent" style="margin-left:5px; margin-top: 5px;">
          <ol class = "ToC">
          {% for chapter in Notebooks[Notebooks.keys()|sort()|first].keys()|sort()%}
            {%if chapter == Notebooks[Notebooks.keys()|sort()|first].keys()|sort()|first %}
              <li class="ToCLabel selected hover-red" onclick="selectChapter(this)" onmouseenter="chapterMouseIn(this)" onmouseleave="chapterMouseOut(this)" ondblclick="editChapterName(this)">{{chapter}}</li>
            {%else%}
              <li class="ToCLabel hover-red" onclick="selectChapter(this)" onmouseenter="chapterMouseIn(this)" onmouseleave="chapterMouseOut(this)" ondblclick="editChapterName(this)">{{chapter}}</li>
            {%endif%}
          {%endfor%}
        </ol>
          <ol class="addToC">
            <li class="ToCLabel hover-red" onclick="addChapter(this)">+ add new chapter</li>
            <li class="ToCLabel hover-red" style="display:none"><textarea class="addChapterTextArea" cols="15" rows="1" onkeypress="{
              var key = window.event.keyCode;
              if (key === 13) {createNewChapter(this)}}"> </textarea></li>
          <ol>
        </div>
    </div>

    <div class="chapterContent">
      <h2 class="title"> <span id ="chapterName">{{Notebooks[Notebooks.keys()|sort()|first].keys()|sort()|first}}</span></h2>
      <i class="fa fa-edit editIcon hover-red" onclick="editEntry(this)"></i><br>
      <div id="chapterContent">
          {{Notebooks[Notebooks.keys()|sort()|first][Notebooks[Notebooks.keys()|sort()|first].keys()|sort()|first]|safe}}
      </div>
    </div>
  </div>
  </body>

  <script>
  var backGround = document.getElementById("notebook_background");
  var div = document.getElementById("notebookLabels");
  div.style.height = (Math.floor((backGround.clientHeight)/46)-1)*46+"px";
  </script>
</html>
