<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>My Journal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>

  <style>
    pre{
      padding: 10px 10px 10px 10px;
      color: black;
      background-color: #d9d9d9;
    }
  </style>
  <script>
    function selectChapter(chapter){
      document.getElementsByClassName("editIcon")[0].style.display="block";
      var tempNotebooks = {{Notebooks | safe}}
      notebookName = document.getElementById("notebookName");
      chapterContent = document.getElementById("chapterContent");
      chapterName = document.getElementById("chapterName");
      chapterName.innerHTML = chapter.innerHTML;
      chapterContent.innerHTML = tempNotebooks[notebookName.innerHTML][chapter.innerHTML];
    }
    function addChapter(item){
      item.style.display = "none";
      addChapterTextArea = item.parentElement.children[1]
      addChapterTextArea.style.display = "block";
    }
    function createNewChapter(item){
      $.ajax({ type: "POST",
          url: "http://localhost:5000/notes",
          data: {"entry":"",
                 "notebook": document.getElementById("notebookName").innerHTML,
                 "chapter" : item.value,},
      });
      document.getElementById("chapterName").innerHTML = item.value;
      document.getElementById("chapterContent").innerHTML = "";
      item.parentElement.style.display="none"
      item.parentElement.parentElement.children[0].style.display="block";
      ToC = document.getElementsByClassName("ToC")[0]
      tocListItem = document.createElement("li")
      tocListItem.className="ToCLabel";
      tocListItem.onclick = function () {selectChapter(this)}
      tocListItem.innerHTML = item.value
      ToC.appendChild(tocListItem)
      item.value = ""
    }

    function selectNoteBook(notebook){
      document.getElementsByClassName("editIcon")[0].style.display="block";
      allLabels = document.getElementsByClassName("notebookLabel")
      Array.from(allLabels).forEach((label) => {
        label.classList.remove("selected")
      })
      var tempNotebooks = {{Notebooks | safe}}
      if(notebook.classList.contains("selected")){
        notebook.classList.remove("selected");
      }else{
        notebook.classList.add("selected");
      }
      tocContent = document.getElementById("tocContent");
      tocList = document.createElement("ol")
      tocList.className = "ToC";
      Array.from(Object.keys(tempNotebooks[notebook.innerHTML]).sort()).forEach(tocItem =>{
        tocListItem = document.createElement("li")
        tocListItem.className="ToCLabel";
        tocListItem.onclick = function () {selectChapter(this)}
        tocListItem.innerHTML = tocItem
        tocList.appendChild(tocListItem)
      })
      tocContent.innerHTML = "";
      tocContent.appendChild(tocList)
      // add new chapter
      AddChapter = document.createElement("ol")
      AddChapterItem = document.createElement("li")
      AddChapter.className = "addToC"
      AddChapterItem.className = "ToCLabel"
      AddChapterItem.innerHTML = "+ add new chapter"
      AddChapterItem.onclick = function(){addChapter(this)}
      //add textarea and hide it
      AddChapterTextAreaItem = document.createElement("li")
      AddChapterTextAreaItem.className = "ToCLabel"
      AddChapterTextAreaItem.style.display = "none"
      AddChapterTextArea = document.createElement("textarea")
      AddChapterTextArea.className = "addChapterTextArea"
      AddChapterTextArea.cols = "15"
      AddChapterTextArea.rows = "1"
      AddChapterTextArea.onkeypress=function(){
        var key = window.event.keyCode;
        if (key === 13) {createNewChapter(this)}
      }
      AddChapterTextAreaItem.appendChild(AddChapterTextArea)

      AddChapter.appendChild(AddChapterItem)
      AddChapter.appendChild(AddChapterTextAreaItem)
      tocContent.appendChild(AddChapter)

      chapterName = document.getElementById("chapterName");
      chapterName.innerHTML = Object.keys(tempNotebooks[notebook.innerHTML]).sort()[0];
      chapterContent = document.getElementById("chapterContent");
      chapterContent.innerHTML = tempNotebooks[notebook.innerHTML][Object.keys(tempNotebooks[notebook.innerHTML]).sort()[0]];
      notebookName = document.getElementById("notebookName");
      notebookName.innerHTML = notebook.innerHTML;
    }
    function addNotebook(item){
      item.children[0].style.display="none";
      item.children[1].style.display="block";
    }
    function createNewNotebook(item){
      $.ajax({ type: "POST",
          url: "http://localhost:5000/notes",
          data: {"entry":"",
                 "notebook": item.value,
                 "chapter" : "Chapter 1",},
      });
      notebookLabels = document.getElementsByClassName("notebookLabels")[0]
      Label = document.createElement("div")
      Label.className = "notebookLabel"
      Label.onclick = function(){selectNoteBook(this)}
      Label.innerHTML = item.value
      notebookLabels.insertBefore(Label, notebookLabels.childNodes[notebookLabels.childNodes.length - 2]);
      item.value = ""
      item.style.display="none";
      item.parentElement.children[0].style.display="block";

    }
    function editMode(item){
      item.style.display = "none";
      var tempNotebooks = {{Notebooks | safe}}
      notebook = document.getElementById("notebookName");
      chapterContent = document.getElementById("chapterContent");
      form = document.createElement("form")
      form.action = "javascript:;";

      textArea = document.createElement("textarea");
      textArea.className = "notebookEntry"
      textArea.style.width = "98%";
      textArea.type = "text";
      textArea.rows = "20";
      textArea.value = chapterContent.innerHTML;
      form.appendChild(textArea)

      form.onsubmit = function() {
        var notebookEntry = document.getElementsByClassName("notebookEntry")[0].value;
        $.ajax({ type: "POST",
            url: "http://localhost:5000/notes",
            data: {"entry":notebookEntry,
                   "notebook": document.getElementById("notebookName").innerHTML,
                   "chapter" : document.getElementById("chapterName").innerHTML,},
        });
        document.getElementById("chapterContent").innerHTML = notebookEntry;
        console.log(document.getElementsByClassName("editIcon"))
        document.getElementsByClassName("editIcon")[0].style.display = "block";
      }

      submitButton = document.createElement("input");
      submitButton.type = "submit"
      submitButton.style = "float:right; margin-right: 2%;"
      form.appendChild(submitButton)

      chapterContent.innerHTML = ""
      chapterContent.appendChild(form)
    }
  </script>
</head>

{%if pageTheme=="Dark"%}
  <body  class="journal featured" background="{{url_for('static', filename='journal_background.png') }}">
{% else %}
  <body  class="journal" background="{{url_for('static', filename='journal_background.png') }}">
{% endif %}

{% with page="notes" %}
    {% include "header.html" %}
{% endwith %}

  <div class="notebookLabels">
    {% for notebook in Notebooks.keys()|sort() %}
      {%if notebook == Notebooks.keys()|sort()|first %}
      <div class= "notebookLabel selected" onclick="selectNoteBook(this)">{{notebook}}</div>
      {%else%}
      <div class= "notebookLabel" onclick="selectNoteBook(this)">{{notebook}}</div>
      {%endif%}
    {% endfor %}
      <div class= "notebookLabel" onclick="addNotebook(this)">
        <span class="addNotebookText">+ Add new Notebook</span>
        <textarea class="addNotebookTextArea" cols="15" rows="1" style="margin-left: 10px; display:none" onkeypress="{
          var key = window.event.keyCode;
          if (key === 13) {createNewNotebook(this)}}"> </textarea>
      </div>
  </div>

  <div class="notebook_background">
    <h2 class="title"> <span id ="notebookName">{{Notebooks.keys()|sort()|first}}</span> Notebook </h3>
    <div class="ToCDiv" style= "">
        <h2 class="title"> ToC </h3>
        <div id="tocContent" style="margin-left:5px; margin-top: 5px;">
          <ol class = "ToC">
          {% for chapter in Notebooks[Notebooks.keys()|sort()|first].keys()|sort()%}
            <li class="ToCLabel" onclick="selectChapter(this)">{{chapter}}</li>
          {%endfor%}
        </ol>
          <ol class="addToC">
            <li class="ToCLabel" onclick="addChapter(this)">+ add new chapter</li>
            <li class="ToCLabel" style="display:none"><textarea class="addChapterTextArea" cols="15" rows="1" onkeypress="{
              var key = window.event.keyCode;
              if (key === 13) {createNewChapter(this)}}"> </textarea></li>
          <ol>
        </div>
    </div>

    <div class="chapterContent">
      <h2 class="title"> <span id ="chapterName">{{Notebooks[Notebooks.keys()|sort()|first].keys()|sort()|first}}</span></h3>
      <i class="fa fa-edit editIcon" style ="float:right; margin-right:10px;  margin-top: 10px;" onclick="editMode(this)"></i><br>
      <div id="chapterContent">
          {{Notebooks[Notebooks.keys()|sort()|first][Notebooks[Notebooks.keys()|sort()|first].keys()|sort()|first]|safe}}
      </div>
    </div>
  </div>

  </body>
</html>
