<!DOCTYPE html>


<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
  input[type='checkbox']:checked + span{
    text-decoration:line-through;
  }
  </style>
 <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
 <script src="/static/lib/Chart.min.js" charset="utf-8"></script>
 <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
 <script src="{{ url_for('static', filename='js/login.js') }}"></script>
 <title>My Journal</title>
</head>

{%if pageTheme=="Dark"%}
  <body class="featured">
{% else %}
  <body>
{% endif %}

{% with page="org" %}
    {% include "header.html" %}
{% endwith %}

{% with month = month, year = year, day = day,
        numberOfDays = numberOfDays, monthsBeginning = monthsBeginning,
        todayTodos = todayTodos, overDue = overDue,
        thisMonthsEvents = thisMonthsEvents %}
    {% include "org_modules/todoLists.html" %}
{% endwith %}

<div class="divider"></div>

{% with ChartMonthDays = ChartMonthDays,
        ChartDoneTasks = ChartDoneTasks,
        ChartthisMonthTasks = ChartthisMonthTasks %}
    {% include "org_modules/scrumBoard.html" %}
{% endwith %}

<div class="divider"></div>

</body>
</html>
