
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <script src="/static/lib/Chart.min.js" charset="utf-8"></script>
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
  <title>My Journal</title>

  <script type="text/javascript">
    function selected(){
      var themeColor = document.getElementById("ThemeSelector").value;
      $.ajax({
          type: "POST",
          url: "http://"+window.location.hostname+":5000/settings",
          data: {"type": "Theme", "value": themeColor},
      });
      if(themeColor == "Dark"){
        document.body.className = "featured";
      }else{
        document.body.className = "";
      }
    }

    function activityList(){
      var activities = document.getElementById("activities").value;
      $.ajax({
          type: "POST",
          url: "http://"+window.location.hostname+":5000/settings",
          data: {"type": "activityList", "value": activities},
      });
    }
    function updateMailSetting(){

      const MAIL_SERVER = document.getElementById("MAIL_SERVER").value;
      const MAIL_USERNAME = document.getElementById("MAIL_USERNAME").value;
      const MAIL_PASSWORD = document.getElementById("MAIL_PASSWORD").value;
      console.log(MAIL_PASSWORD)
      const MAIL_PORT = document.getElementById("MAIL_PORT").value;
      const MAIL_USE_SSL = document.getElementById("MAIL_USE_SSL").value;
      const MAIL_RECIPIENT = document.getElementById("MAIL_RECIPIENT").value;

      $.ajax({
          type: "POST",
          url: "http://"+window.location.hostname+":5000/settings",
          data: {"type" : "mailSetting",
                 "value" : JSON.stringify({"MAIL_SERVER":    MAIL_SERVER,
                                           "MAIL_USERNAME":  MAIL_USERNAME,
                                           "MAIL_PASSWORD":  MAIL_PASSWORD,
                                           "MAIL_PORT":      MAIL_PORT,
                                           "MAIL_USE_SSL":   MAIL_USE_SSL,
                                           "MAIL_RECIPIENT": MAIL_RECIPIENT,
                                         })
                },
      }).success(function(result){
        if (result=="succeded"){
          alert("mail setting updated successfully")
        }else{
          alert("failed to update the mail settings")
        }
      }
      );
    }
  </script>
</head>

{%if pageTheme=="Dark"%}
<body class="featured">
{% else %}
<body>
{% endif %}

{% with page="settings" %}
    {% include "generic_modules/header.html" %}
{% endwith %}

  <div class="settingpage">

  <div style="width: 30%;float:left;margin-right: 5%;">
    <h4>Database management</h4>
     Upload your database here: (TO DO...) <br><br>
     To download your DB, click <a href="/downloadDB/" target = "blank" style="color:orange">here</a>.
  </div>
  <div style="width: 30%;float:left; margin-right: 5%;">
    <h4>Change password</h4>
    <div style="width: 90%;">Current password:  <input style= "width:40%; float:right;" type="password" id="currentpwd" name="currentpwd"></input></div>
    <br>
    <div style="width: 90%;margin-top:-10px;"> New password:  <input  style= "width:40%; float:right;" type="password" id="newpwd" name="newpwd"></input></div>
    <br>
    <div style="float: right;margin-top:-10px;"> <input type="submit" onclick="resetPass()"></input></div>
  </div>
  <div style="width: 30%;float:left">
    <h4>Themes</h4>
    choose the color theme:
    <select id="ThemeSelector" onchange="selected()" >
      {%if pageTheme=="Dark"%}
        <option selected="selected">Light Blue</option>
      {% else %}
        <option>Light Blue</option>
      {% endif %}
      {%if pageTheme=="Dark"%}
        <option selected="selected">Dark</option>
      {% else %}
        <option>Dark</option>
      {% endif %}
    </select>
  </div>


  <div class="divider" style="width:100%;height:2px;margin-top:20px;"></div>

  <div style="width: 100%;float:left">
    <h4>Activity Tracker Setting</h4>
    you can enter the activities you are interested in the field <br>
    bellow (comma separated):
    <form action="javascript:;" onsubmit="return activityList();">
       <textarea id="activities" type="text" cols="40" rows="5" style="margin-top: 5px;margin-left: 1%; min-height:100px;width:28%; outline:None; resize:None">{{activityList|string()}}</textarea><br>
       <input type="submit" style="margin-left: 23%;margin-top: 5px;">
    </form>
    * the activities will appear in the same order that you define here!
  </div>

  <div class="divider" style="width:100%;height:2px;margin-top:20px;"></div>
  <div style="width: 100%;float:left">
    <h4>Mail server setup</h4>
    <form action="javascript:;" onsubmit="return updateMailSetting()">

        <span style="float: left; min-width: 140px;"> MAIL_SERVER: </span>
        <textarea id="MAIL_SERVER" type="text" rows="1" style="margin-top: 5px;margin-left: 1%;  width:28%; outline:None; resize:None">{{email_setting["MAIL_SERVER"]}}</textarea><br>

        <span style="float: left; min-width: 140px;"> MAIL_PORT: </span>
        <textarea id="MAIL_PORT" type="text"  rows="1" style="margin-top: 5px;margin-left: 1%; width:60px; outline:None; resize:None">{{email_setting["MAIL_PORT"]}}</textarea><br>

        <span style="float: left; min-width: 153px;"> MAIL_USE_SSL: </span>
        <select id="MAIL_USE_SSL" style="float:left;">
          {%if email_setting["MAIL_USE_SSL"]=="True"%}
            <option selected="selected">True</option>
          {% else %}
            <option>True</option>
          {% endif %}
          {%if email_setting["MAIL_USE_SSL"]=="False"%}
            <option selected="selected">False</option>
          {% else %}
            <option>False</option>
          {% endif %}
        </select><br>

        <span style="float: left; min-width: 140px;"> MAIL_USERNAME: </span>
        <textarea id="MAIL_USERNAME" type="text"  rows="1" style="margin-top: 5px;margin-left: 1%;  width:28%; outline:None; resize:None">{{email_setting["MAIL_USERNAME"]}}</textarea><br>

        <span style="float: left; min-width: 140px;"> MAIL_PASSWORD: </span>
        <input id="MAIL_PASSWORD" type="password" value = "{{email_setting["MAIL_PASSWORD"]}}" style="margin-top: 5px;margin-left: 1%;  width:28%; outline:None; resize:None"><br>

        <span style="float: left; min-width: 140px;"> MAIL_RECIPIENT: </span>
        <textarea id="MAIL_RECIPIENT" type="text" rows="1" style="margin-top: 5px;margin-left: 1%;  width:28%; outline:None; resize:None">{{email_setting["MAIL_RECIPIENT"]}}</textarea><br>

        <input type="submit" style="margin-left: 23%;margin-top: 5px;">
    </form>
  </div>
  <div class="divider" style="width:100%;height:2px;margin-top:20px;"></div>


</div>
</body>

<script type="text/javascript">
function resetPass(){
  const currntpwd = document.getElementById("currentpwd").value;
  const newpwd = document.getElementById("newpwd").value;
  $.ajax({
      type: "POST",
      url: "http://"+window.location.hostname+":5000/settings",
      data: {"type" : "password", "value" : JSON.stringify({"currntpwd":currntpwd, "newpwd":newpwd})},
  }).success(function(result){
    if (result=="succeded"){
      alert("password updated successfully")
    }else{
      alert("failed to update the password")
    }
  }
  );
}
</script>

</html>
