
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <title>My Journal</title>

  <script type="text/javascript">
    function selected(){
      var themeColor = document.getElementById("ThemeSelector").value;
      $.ajax({
          type: "POST",
          url: "http://localhost:5000/settings",
          data: {"Theme": themeColor},
      });
      if(themeColor == "Dark"){
        document.body.className = "featured";
      }else{
        document.body.className = "";
      }
    }
    function logout(){
      localStorage.setItem('token',"false")
      window.location.replace('/home')
    }
  </script>
</head>

{%if pageTheme=="Dark"%}
<body class="featured">
{% else %}
<body>
{% endif %}

  <div class = "tabBar">
    <a  class="tabBar" href="http://localhost:5000/home"><div class="tabButton"> <b>Main</b> </div> </a>
    <a  class="tabBar" href="http://localhost:5000/journal"> <div class="tabButton" ><b>Journal</b></div></a>
    <a  class="tabBar" href="http://localhost:5000/todoList"> <div class="tabButton" ><b>Org.</b></div></a>
    <a  class="tabBar" href="http://localhost:5000/Lists"> <div class="tabButton" ><b>Lists</b></div></a>
    <a  class="tabBar" style="float:right; margin-right:5px;"><i class="fa fa-sign-out" onclick="logout()"></i></a>
    <a  class="tabBar" style="float:right; margin-right:5px;" href="http://localhost:5000/settings"> <i class="fa myGear">&#xf013;</i></a>
    <div class="divider"></div>
  </div>

  <div class="settingpage">
  <h4>Database management</h4>
   Upload your database here: (TO DO...) <br>
   to download your DB, click <a href="/downloadDB/" target = "blank">here</a>.
   <br>
   <div class="divider" style="width:40%;height:2px;margin-top:20px;"></div><br>

  <h4>Change password</h4>
  current password:  <input type="password" id="currentpwd" name="currentpwd"><br>
  new password:      <input type="password" id="newpwd" name="newpwd"><br>
  <input type="submit" style="margin-left: 23%;margin-top: 5px;" onclick="resetPass()">
  <br>
  <div class="divider" style="width:40%;height:2px;margin-top:20px;"></div><br>

  <h4>Themes</h4>
    choose the color theme:
    <select id="ThemeSelector" onchange="selected()" >
      {%if pageTheme=="Dark"%}
        <option selected="selected">Light Blue</option>
      {% else %}
        <option>Light Blue</option>
      {% endif %}
      {%if pageTheme=="Dark"%}
        <option selected="selected">Dark</option>
      {% else %}
        <option>Dark</option>
      {% endif %}
    </select>

  <br>
  <div class="divider" style="width:40%;height:2px;margin-top:20px;"></div><br>

  <h4>Activity Tracker Setting (TO DO...)</h4>
  you can enter the activities you are interested in the field <br>
  bellow (in a comma separated list):
  <form action="javascript:;" onsubmit="return submitEntry();">
     <textarea id="activities" type="text" cols="40" rows="5" style="margin-top: 5px;margin-left: 1%; min-height:100px;width:28%; outline:None; resize:None">{{activityList|string()}}</textarea><br>
     <input type="submit" style="margin-left: 23%;margin-top: 5px;">
  </form>
  * the activities will appear in the same order that you define here!
</div>
</body>

<script type="text/javascript">
function resetPass(){
  const currntpwd = document.getElementById("currentpwd").value;
  const newpwd = document.getElementById("newpwd").value;
  $.ajax({
      type: "POST",
      url: "http://localhost:5000/settings",
      data: {"password": JSON.stringify({"currntpwd":currntpwd, "newpwd":newpwd})},
  }).success(function(result){
    if (result=="succeded"){
      alert("password updated successfully")
    }else{
      alert("failed to update the password")
    }
  }
  );
}
</script>

</html>
