
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css"></script>
  <script src="/static/lib/Chart.min.js" charset="utf-8"></script>
  <script src="/static/lib/jquery.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  <title>My Journal</title>

  <script type="text/javascript">
    function selected(){
      var themeColor = document.getElementById("ThemeSelector").value;
      $.ajax({
          type: "POST",
          url: "http://localhost:5000/settings",
          data: {"Theme": themeColor},
      });
      if(themeColor == "Dark"){
        document.body.className = "featured";
      }else{
        document.body.className = "";
      }
    }
  </script>
</head>

{%if pageTheme=="Dark"%}
<body class="featured">
{% else %}
<body>
{% endif %}

{% with page="settings" %}
    {% include "header.html" %}
{% endwith %}

  <div class="settingpage">

  <div style="width: 30%;float:left;margin-right: 5%;">
    <h4>Database management</h4>
     Upload your database here: (TO DO...) <br><br>
     To download your DB, click <a href="/downloadDB/" target = "blank" style="color:orange">here</a>.
  </div>
  <div style="width: 30%;float:left; margin-right: 5%;">
    <h4>Change password</h4>
    <div style="width: 90%;">Current password:  <input style= "width:40%; float:right;" type="password" id="currentpwd" name="currentpwd"></input></div>
    <br>
    <div style="width: 90%;margin-top:-10px;"> New password:  <input  style= "width:40%; float:right;" type="password" id="newpwd" name="newpwd"></input></div>
    <br>
    <div style="float: right;margin-top:-10px;"> <input type="submit" onclick="resetPass()"></input></div>
  </div>
  <div style="width: 30%;float:left">
    <h4>Themes</h4>
    choose the color theme:
    <select id="ThemeSelector" onchange="selected()" >
      {%if pageTheme=="Dark"%}
        <option selected="selected">Light Blue</option>
      {% else %}
        <option>Light Blue</option>
      {% endif %}
      {%if pageTheme=="Dark"%}
        <option selected="selected">Dark</option>
      {% else %}
        <option>Dark</option>
      {% endif %}
    </select>
  </div>


  <div class="divider" style="width:100%;height:2px;margin-top:20px;"></div>

  <div style="width: 100%;float:left">
    <h4>Activity Tracker Setting (TO DO...)</h4>
    you can enter the activities you are interested in the field <br>
    bellow (in a comma separated list):
    <form action="javascript:;" onsubmit="return submitEntry();">
       <textarea id="activities" type="text" cols="40" rows="5" style="margin-top: 5px;margin-left: 1%; min-height:100px;width:28%; outline:None; resize:None">{{activityList|string()}}</textarea><br>
       <input type="submit" style="margin-left: 23%;margin-top: 5px;">
    </form>
    * the activities will appear in the same order that you define here!
  </div>
</div>
</body>

<script type="text/javascript">
function resetPass(){
  const currntpwd = document.getElementById("currentpwd").value;
  const newpwd = document.getElementById("newpwd").value;
  $.ajax({
      type: "POST",
      url: "http://localhost:5000/settings",
      data: {"password": JSON.stringify({"currntpwd":currntpwd, "newpwd":newpwd})},
  }).success(function(result){
    if (result=="succeded"){
      alert("password updated successfully")
    }else{
      alert("failed to update the password")
    }
  }
  );
}
</script>

</html>
