<!DOCTYPE html>


<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
  input[type='checkbox']:checked + span{
    text-decoration:line-through;
  }
  </style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <title>My Journal</title>
</head>

{%if pageTheme=="Dark"%}
  <body class="featured">
{% else %}
  <body>
{% endif %}

    <div class = "tabBar">
      <a  class = "tabBar" href="http://localhost:5000/home"><div class="tabButton" > <b>Main</b> </div> </a>
      <a  class = "tabBar" href="http://localhost:5000/journal"> <div class="tabButton" ><b>Journal</b></div></a>
      <a  class = "tabBar" href="http://localhost:5000/todoList"> <div class="tabButton tbSelected"><b>Org.</b></div></a>
      <a  class="tabBar" href="http://localhost:5000/Lists"> <div class="tabButton" ><b>Lists</b></div></a>
      <a  class="tabBar" style="float:right; margin-right:5px;"><i class="fa fa-sign-out" style="font-size: 30px; color:white;" aria-hidden="true" onclick="logout()"></i></a>
      <a  class="tabBar" style="float:right; margin-right:5px;" href="http://localhost:5000/settings"> <i class="fa myGear" >&#xf013;</i></a>
      <div class="divider"></div>
    </div>

    <div style="float:left;width:100%;margin-bottom:10px;margin-top:0px;">

        <img src= "{{url_for('static', filename = 'page_todo.png')}}" style="float:right; vertical-align: top; margin-right: 3%;"  height="84px"  alt="page_todo">

        <h1 style="margin-top:15px;margin-right:1px;width:20%;float:left;"> <font style="text-decoration: underline;"> Todo List </font></h1>

        <h2 class="title" style="text-decoration: none; margin-left: 22%;margin-top:5px; margin-bottom: 0px; float:left;">
          {% if month > 1  %}
            <a class= "arrow"  href="http://localhost:5000/todoList?date={{year}}-{{'%02d' % (month-1)}}-{{'%02d' % (day)}}">&#9668;</a>
          {% else %}
            <a class= "arrow"  href="http://localhost:5000/todoList?date={{year-1}}-{{'%02d' % (12)}}-{{'%02d' % (day)}}">&#9668;</a>
          {% endif %}
          {{year}}-{{'%02d' % (month)}}
          {% if month < 12  %}
            <a class= "arrow" href="http://localhost:5000/todoList?date={{year}}-{{'%02d' % (month+1)}}-{{'%02d' % (day)}}">&#9658;</a>
          {% else %}
            <a class= "arrow" href="http://localhost:5000/todoList?date={{year+1}}-{{'%02d' % (1)}}-{{'%02d' % (day)}}">&#9658;</a>
          {% endif %}
        </h2>

        <div style="float:left; margin-top:10px;">
          <table border="0" style="border-spacing: 0px;">
            <tr>
              {% set ns1 = namespace (daysOfTheWeek = "MTWTFSS")%}
              {% set ns2 = namespace (daysOfTheWeekCap = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"])%}
              {% for i in range(0, numberOfDays) %}
              {%if i+1 == day %}
                <td class="DS DStoday"><font class="DSfontToday"><b>{{ns2.daysOfTheWeekCap[(i+monthsBeginning)%7]}}</b></font></td>
              {%else%}
                <td style=" min-width: 15px; text-align: center;"><a class="arrow" href="http://localhost:5000/todoList?date={{year}}-{{'%02d' % (month)}}-{{'%02d' % (i+1)}}"><font class="DSfont">{{ns1.daysOfTheWeek[(i+monthsBeginning)%7]}}</font></a></td>
              {%endif%}
              {%endfor%}
            </tr>
            <tr style="margin-bottom:0px;">
              {% for i in range(1, numberOfDays+1) %}
                {% if i == day  %}
                  <td  class="DS DStoday DSbottom"> <font class="DSfontToday"><b>{{i}}</b></a></font></td>
                {%else%}
                  <td class="DS DSbottom"><a class= "arrow" href="http://localhost:5000/todoList?date={{year}}-{{'%02d' % (month)}}-{{'%02d' % (i)}}"><font class="DSfont"><b>{{i}}</b></font></a></td>
                {%endif%}
              {%endfor%}
            </tr>
          </table>
      </div>
      <div class="divider" style="width:94%; height:5px; margin-left: 3%; float:left;"></div>
    </div>

  <br>

  <div style = "width:100%;">
    <b class="titleNewTask">Add new task:</b> <input id="task", name ="{{year}}-{{'%02d' % (month)}}-{{'%02d' % (day)}}",  type="text" class="newTodo"><br>
  </div><br>

  <!--Today's tasks-->
  <div class = "todoTasks">
    <h2 class="title lightbg">&nbsp;Todays tasks: </h2>
    <div class ="todoTasksScorlable">
    <ul id = "todayList" class="todoList">
      {%for todo, date, done in todayTodos%}
        {%if done == 'false'%}
          <li style ="word-wrap: break-word; width:95%; white-space: normal;">
            <input type="checkbox"; onchange="boxchange(event)"; style="margin-right:5px">
            <span class="task">{{todo}}</span>
            <span style="float:right;margin-right:10px;" onclick="deleteTodo(this)"><i class="fa fa-trash-o"></i> </span>
            <span class="date" style="display: none;">{{date}}</span> &nbsp;
          </li>
        {%else%}
          <li style ="word-wrap: break-word; width:95%; white-space: normal;">
            <input type="checkbox"; onchange="boxchange(event)"; checked style="margin-right:5px">
            <span class="task">{{todo}}</span>
            <span style="float:right;margin-right:10px;" onclick="deleteTodo(this)"><i class="fa fa-trash-o"></i> </span>
            <span class="date" style="display: none;">{{date}}</span> &nbsp;
          </li>
        {%endif%}
      {%endfor%}
    </ul>
    </div>
  </div>
  <!--Over due tasks-->
  <div class = "todoTasks">
    <h2 class="title" style="color:#ef3b2c">&nbsp;Over Due: </h2>
    <div class ="todoTasksScorlable">
    <ul class="todoList">
      {%for todo, date, done in overDue%}
        {%if done == 'false'%}
          <li style ="word-wrap: break-word; width:95%; white-space: normal;">
              <input type="checkbox"; onchange="boxchange(event)"; style="margin-right:5px">
              <span class="task">{{todo}}</span>
              <span style="float:right;margin-right:10px;" onclick="deleteTodo(this)"><i class="fa fa-trash-o"></i> </span>
              <span class="date">{{date}}</span> &nbsp;
          </li>
        {%else%}
          <li style ="word-wrap: break-word; width:95%; white-space: normal;">
              <input type="checkbox"; onchange="boxchange(event)"; checked style="margin-right:5px">
              <span style="float:right;margin-right:10px;" onclick="deleteTodo(this)"><i class="fa fa-trash-o"></i> </span>
              <span class="task">{{todo}}</span> <span class="date">{{date}}</span>  &nbsp;
          </li>
        {%endif%}
      {%endfor%}
    </ul>
    </div>
  </div>
    <!--next Month's tasks-->
    <div class = "todoTasks">
       <h2  class="title lightbg">Next month at a glance</h2>
       <div class ="todoTasksScorlable">
       <ul class="todoList">
         {%for thisMonthTask in thisMonthsEvents%}
         <li style ="word-wrap: break-word; width:95%; white-space: normal;">
           <input type="checkbox"; onchange="boxchange(event)"; style="margin-right:5px">
           <span class="task">{{thisMonthTask[0]}}</span>
           <span style="float:right;margin-right:10px;" onclick="deleteTodo(this)"><i class="fa fa-trash-o"></i> </span>
           <span class="date">{{thisMonthTask[1]}}</span> &nbsp;
         </li>
         {%endfor%}
      </ul>
      </div>
     </div>

    <div class="divider"></div>

    <div style="width:100%; margin-bottom:20px; float:left;">
      <!-- new scrum card gen -->
      <div style="width:100%; margin-bottom:10px;float:left;">
        <img src= "{{url_for('static', filename = 'todo_scrum.png')}}" style="float:right; vertical-align: top; height: 120px;margin-right:1.2%;" alt="page_todo">
        <h1 style="margin-top:15px;margin-right:1px;width:60%;float:left;"> <font style="text-decoration: underline;"> Projects Scrum Board </font></h1>
          <div class="NewScrumCardContainer">
            &nbsp;<b> define new task: </b>&nbsp;
            &nbsp; Project name: <input id="projInput", type="text",  style="width:10%; outline:None;"  value=" ">
            &nbsp; Task name: <input id="taskInput", type="text", style="width:25%; outline:None;"  value=" ">
            &nbsp; Proirity:
            <select id="priorityInput" >
              <option value="1">1 (high)</option>
              <option value="2">2 (med)</option>
              <option value="3">3 (low)</option>
            </select>
            &nbsp;&nbsp;<buton onclick="makeNewCard()"><font size="5" style="color:green"><b>+</b></font> </buton>
          </div>
      </div>
      <!--Backlog-->
      <div class="ScrumContainer">
         <h2  class="title lightbg">Backlog</h2>
         <div class="ScrumContainerScrollable" id = "backlogList" ondrop="drop(event, this)" ondragover="allowDrop(event)">
           {%for item in Backlog%}
            {%if item[2]=="1"%}
              <div class = "ScrumCard" id="{{'backlog_'+(Backlog.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #08519c; background-color:#9ecae1;" draggable="true" ondragstart="drag(event)">
            {%elif item[2]=="2"%}
              <div class = "ScrumCard" id="{{'backlog_'+(Backlog.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #4292c6; background-color:#c6dbef;" draggable="true" ondragstart="drag(event)">
            {%else%}
              <div class = "ScrumCard" id="{{'backlog_'+(Backlog.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #9ecae1; background-color:#deebf7;" draggable="true" ondragstart="drag(event)">
            {%endif%}
                 &nbsp;<b><font id="projectName" size="2">{{item[0]}}</font></b><br>
                 <div style="width:90%; margin-left:5%;"><font id="taskName" size="3">{{item[1]}}</font></div>
                 <div class= "scrumCardDivider" style="background-color: #4292c6;"></div>
                 <span class = "scrumSpan" onclick="archivecard(event)"><i class="fa fa-archive"></i></span>
                 <span class = "scrumSpan" onclick="deleteCard(event)"><i class="fa fa-trash-o"></i></span>
            </div>
         {%endfor%}
       </div>
      </div>
      <!--Todo-->
      <div class="ScrumContainer">
         <h2  class="title lightbg">ToDo</h2>
         <div class="ScrumContainerScrollable" id = "todoList" ondrop="drop(event, this)" ondragover="allowDrop(event)">
           {%for item in ScrumTodo%}
            {%if item[2]=="1"%}
              <div class = "ScrumCard" id="{{'todo_'+(ScrumTodo.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #6a51a3; background-color:#bcbddc;" draggable="true" ondragstart="drag(event)">
            {%elif item[2]=="2"%}
              <div class = "ScrumCard" id="{{'todo_'+(ScrumTodo.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #9e9ac8; background-color:#dadaeb;" draggable="true" ondragstart="drag(event)">
            {%else%}
              <div class = "ScrumCard" id="{{'todo_'+(ScrumTodo.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #bcbddc; background-color:#efedf5;" draggable="true" ondragstart="drag(event)">
            {%endif%}
                 &nbsp;<b><font id="projectName" size="2">{{item[0]}}</font></b><br>
                 <div style="width:90%; margin-left:5%;"><font id="taskName" size="3">{{item[1]}}</font></div>
                 <div class= "scrumCardDivider" style="background-color: #6a51a3;"></div>
                 <span class = "scrumSpan" onclick="archivecard(event)"><i class="fa fa-archive"></i></span>
                 <span class = "scrumSpan" onclick="deleteCard(event)"><i class="fa fa-trash-o"></i></span>
            </div>
         {%endfor%}
       </div>
      </div>
      <!--In progress-->
      <div class="ScrumContainer">
         <h2  class="title lightbg">In progress</h2>
         <div class="ScrumContainerScrollable" ondrop="drop(event, this)" ondragover="allowDrop(event)">
           {%for item in inProgress%}
              {%if item[2]=="1"%}
               <div class = "ScrumCard" id="{{'in progress_'+(inProgress.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #ec7014; background-color:#fee391;" draggable="true" ondragstart="drag(event)">
              {%elif item[2]=="2"%}
               <div class = "ScrumCard" id="{{'in progress_'+(inProgress.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #fe9929; background-color:#fff7bc;" draggable="true" ondragstart="drag(event)">
              {%else%}
               <div class = "ScrumCard" id="{{'in progress_'+(inProgress.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #fee391; background-color:#ffffe5;" draggable="true" ondragstart="drag(event)">
              {%endif%}
               &nbsp;<b><font id="projectName" size="2">{{item[0]}}</font></b><br>
               <div style="width:90%; margin-left:5%;"><font id="taskName" size="3">{{item[1]}}</font></div>
               <div class = "scrumCardDivider" style="background-color: #fe9929;"></div>
               <span class = "scrumSpan" onclick="archivecard(event)"><i class="fa fa-archive"></i></span>
               <span class = "scrumSpan" onclick="deleteCard(event)"><i class="fa fa-trash-o"></i></span>
            </div>
         {%endfor%}
       </div>
      </div>
      <!--Done-->
      <div class="ScrumContainer">
        <h2  class="title lightbg">Done</h2>
          <div class="ScrumContainerScrollable" ondrop="drop(event, this)" ondragover="allowDrop(event)">
            {%for item in done%}
                {%if item[2]=="1"%}
                  <div class = "ScrumCard" id="{{'done_'+(done.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #238b45; background-color:#c7e9c0;" draggable="true" ondragstart="drag(event)">
                {%elif item[2]=="2"%}
                  <div class = "ScrumCard" id="{{'done_'+(done.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #74c476; background-color:#e5f5e0;" draggable="true" ondragstart="drag(event)">
                {%else%}
                  <div class = "ScrumCard" id="{{'done_'+(done.index(item)|string)+'_'+(item[2]|string)}}" style="border-color: #c7e9c0; background-color:#f7fcf5;" draggable="true" ondragstart="drag(event)">
                {%endif%}
                  &nbsp;<b><font id="projectName" size="2">{{item[0]}}</font></b><br>
                  <div style="width:90%; margin-left:5%;"><font id="taskName" size="3">{{item[1]}}</font></div>
                  <div class= "scrumCardDivider" style="background-color: #74c476;"></div>
                  <span class = "scrumSpan" onclick="archivecard(event)"><i class="fa fa-archive"></i></span>
                  <span class = "scrumSpan"  onclick="deleteCard(event)"><i class="fa fa-trash-o"></i></span>
                </div>
              {%endfor%}
         </div>
      </div>

      <div style="width:98%;min-height:300px;background-color:white;margin-left:1%;border-radius:10px;text-align:center;float:left;">
        <h2  class="title lightbg">Items done this month</h2>
        <div style="float:left; width:90%; margin-left:5%">
          <canvas  height="60" id="tasksDoneThisMonth"></canvas>
        </div>
      </div>
  </div>

  <div class="divider"></div>
  <div style="width:100%; margin-bottom:20px;">
    <h1 style="margin-top:15px;margin-right:1px;width:100%;float:left;"> <font style="text-decoration: underline;"> next thing... </font></h1>
  </div>
</body>

<script type="text/javascript">

  function deleteTodo(item) {
      var listItem = event.target.parentElement.parentElement;
      console.log('deleting item', listItem.querySelector(".task").innerHTML, listItem.querySelector(".date").innerHTML)
      $.ajax({ type: "POST",
          url: "http://localhost:5000/todoList",
          data: {"todo": listItem.querySelector(".task").innerHTML, "date": listItem.querySelector(".date").innerHTML, "delete": '1'}
      });
      listItem.remove();
    }

   function boxchange(event) {
      var listItem = event.target.parentElement;
      $.ajax({ type: "POST",
          url: "http://localhost:5000/todoList",
          data: {"todo": listItem.querySelector(".task").innerHTML, "date": listItem.querySelector(".date").innerHTML, "done": listItem.querySelector("input").checked}
      });
    }


    document.getElementById('task').addEventListener('keypress', function submitonEnter(event) {
      if (event.keyCode == 13) {
              //console.log(document.getElementById("task").value)
              $.ajax({ type: "POST",
                  url: "http://localhost:5000/todoList",
                  data: {"todo": document.getElementById("task").value,
                         "date": document.getElementById("task").name,
                         "done": 'false'}
              });
              // add the new element to the list!
              var li = document.createElement("li");
              li.setAttribute("style", "word-wrap: break-word; width:95%; white-space: normal;");
              var input = document.createElement("input");
              input.setAttribute('type', 'checkbox');
              input.setAttribute('onchange', 'boxchange(event)');
              input.setAttribute('style', 'margin-right:10px');
              var span1 = document.createElement("span");
              span1.setAttribute("class", "task");
              span1.innerHTML= document.getElementById("task").value;

              var span3 = document.createElement("span");
              span3.setAttribute("class", "date");
              span3.style.display = "none"
              span3.innerHTML = document.getElementById("task").name;

              li.appendChild(input);
              li.appendChild(span1);
              li.appendChild(span3);

              var span2 = document.createElement("span");
              span2.onclick = function () {deleteTodo(this);}
              span2.style.float = "right";
              span2.style.marginRight = "10px";

              var i = document.createElement("i");
              i.setAttribute('class',"fa fa-trash-o");
              span2.appendChild(i);
              li.innerHTML += "&nbsp";
              li.appendChild(span2);
              var ul = document.getElementById("todayList");
              ul.appendChild(li)
              // clear the text in the input line!
              document.getElementById("task").value = "";
          }
      });

    function deleteCard(event){
      var cardProj = event.target.parentElement.parentElement.querySelector("#projectName").innerHTML;
      var cardTask =  event.target.parentElement.parentElement.querySelector("#taskName").innerHTML;
      var currentList = event.target.parentElement.parentElement.id.split("_")[0];
      $.ajax({ type: "POST",
          url: "http://localhost:5000/todoList",
          data: {"cardProj": cardProj, "cardTask": cardTask,
                 "delete": "1" , "currentList": currentList}
      });
      event.target.parentElement.parentElement.remove();
    }

    function makeNewCard(){
      var project = document.getElementById("projInput").value;
      var task = document.getElementById("taskInput").value;
      var priority = document.getElementById("priorityInput").value;
      console.log(project, task);
      $.ajax({ type: "POST",
          url: "http://localhost:5000/todoList",
          data: {"cardProj": project, "cardTask": task, "priority": priority}
      });

      var backlogList = document.getElementById("backlogList")

      var cardDiv = document.createElement("div");
      cardDiv.innerHTML += "&nbsp";
      var b = document.createElement("b");
      var projFont = document.createElement("font");
      projFont.setAttribute('id', 'projectName');
      projFont.setAttribute('size', '2');
      projFont.innerHTML = project
      b.appendChild(projFont);
      cardDiv.appendChild(b);
      cardDiv.innerHTML += "<br>";

      cardDiv.setAttribute('class', "ScrumCard");
      cardDiv.setAttribute('id', "todo_"+backlogList.childElementCount+"_"+priority);
      cardDiv.setAttribute('draggable', "true");
      cardDiv.setAttribute('ondragstart', "drag(event)");

      if (priority=="1"){
        cardDiv.setAttribute('style', "border-color: #08519c; background-color:#9ecae1;");
      }else if (priority=="2") {
        cardDiv.setAttribute('style', "border-color: #4292c6; background-color:#c6dbef;");
      }else if (priority=="3") {
        cardDiv.setAttribute('style', "border-color: #9ecae1; background-color:#deebf7;");
      }
      var textDiv = document.createElement("div");
      textDiv.setAttribute('style', "width:90%; margin-left:5%;")
      var textFont = document.createElement("font");
      textFont.setAttribute('id',"taskName");
      textFont.setAttribute('size',"3");
      textFont.innerHTML=task;
      textDiv.appendChild(textFont);

      var divider = document.createElement("div");
      divider.setAttribute('class',"scrumCardDivider")
      divider.setAttribute('style',"background-color: #4292c6;")

      var archiveSpan = document.createElement("span");
      archiveSpan.setAttribute('class', 'scrumSpan');
      archiveSpan.setAttribute('onclick', 'archivecard(event)');
      var archivei = document.createElement("i");
      archivei.setAttribute('class', 'fa fa-archive');
      archiveSpan.appendChild(archivei);

      var delSpan = document.createElement("span");
      delSpan.setAttribute('class', 'scrumSpan');
      delSpan.setAttribute('onclick', 'archivecard(event)');
      var deli = document.createElement("i");
      deli.setAttribute('class', 'fa fa-trash-o');
      delSpan.appendChild(deli);

      cardDiv.appendChild(textDiv);
      cardDiv.appendChild(divider);
      cardDiv.appendChild(archiveSpan);
      cardDiv.appendChild(delSpan);

      backlogList.appendChild(cardDiv);

      document.getElementById("projInput").value = "";
      document.getElementById("taskInput").value = "";
    }

    function archivecard(event){
      // this function archives a scrum card! once a card is archvie, the user can
      // not see it any more. but the data is in the database!
        var cardProj = event.target.parentElement.parentElement.querySelector("#projectName").innerHTML;
        var cardTask = event.target.parentElement.parentElement.querySelector("#taskName").innerHTML;
        var currentList = event.target.parentElement.parentElement.id.split("_")[0];
        //console.log(cardProj,cardTask, currentList)
        $.ajax({ type: "POST",
            url: "http://localhost:5000/todoList",
            data: {"cardProj": cardProj, "cardTask": cardTask,
                   "currentList": currentList , "destList": "archive"}
        });
        event.target.parentElement.parentElement.remove();
      }

      function allowDrop(ev) {
        ev.preventDefault();
      }

      function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
      }

      function drop(ev, target) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var currentList = ev.dataTransfer.getData("text").split("_")[0];
        var priority = ev.dataTransfer.getData("text").split("_")[2];
        var destList = ev.target.parentElement.querySelector(".title").innerHTML.toLowerCase();
        var cardProj = document.getElementById(data).querySelector("#projectName").innerHTML;
        var cardTask = document.getElementById(data).querySelector("#taskName").innerHTML;

        ev.target.appendChild(document.getElementById(data));

        $.ajax({ type: "POST",
            url: "http://localhost:5000/todoList",
            data: {"cardProj": cardProj, "cardTask": cardTask,
                   "currentList": currentList , "destList": destList}
        });
        // here im fixing the color of the moved card!
        if(destList == "backlog"){
          document.getElementById(data).querySelector(".scrumCardDivider").style.backgroundColor = "#4292c6";
          if(priority == "1"){
            document.getElementById(data).style.backgroundColor = "#9ecae1";
            document.getElementById(data).style.borderColor = "#08519c";
          }else if (priority=="2") {
            document.getElementById(data).style.backgroundColor = "#c6dbef";
            document.getElementById(data).style.borderColor = "#4292c6";
          }else if (priority=="3") {
            document.getElementById(data).style.backgroundColor = "#deebf7";
            document.getElementById(data).style.borderColor = "#9ecae1";
          }
         }else if(destList == "todo"){
            document.getElementById(data).querySelector(".scrumCardDivider").style.backgroundColor = "#6a51a3";
            if(priority == "1"){
              document.getElementById(data).style.backgroundColor = "#bcbddc";
              document.getElementById(data).style.borderColor = "#6a51a3";
            }else if (priority=="2") {
              document.getElementById(data).style.backgroundColor = "#dadaeb";
              document.getElementById(data).style.borderColor = "#9e9ac8";
            }else if (priority=="3") {
              document.getElementById(data).style.backgroundColor = "#efedf5";
              document.getElementById(data).style.borderColor = "#bcbddc";
            }
        }else if (destList == "in progress") {
          document.getElementById(data).querySelector(".scrumCardDivider").style.backgroundColor = "#fe9929";
          if(priority == "1"){
            document.getElementById(data).style.backgroundColor = "#fee391";
            document.getElementById(data).style.borderColor = "#ec7014";
          }else if (priority=="2") {
            document.getElementById(data).style.backgroundColor = "#fff7bc";
            document.getElementById(data).style.borderColor = "#fe9929";
          }else if (priority=="3") {
            document.getElementById(data).style.backgroundColor = "#ffffe5";
            document.getElementById(data).style.borderColor = "#fee391";
          }
        }else if (destList == "done") {
          document.getElementById(data).querySelector(".scrumCardDivider").style.backgroundColor = "#74c476";
          if(priority == "1"){
            document.getElementById(data).style.backgroundColor = "#c7e9c0";
            document.getElementById(data).style.borderColor = "#238b45";
          }else if (priority=="2") {
            document.getElementById(data).style.backgroundColor = "#e5f5e0";
            document.getElementById(data).style.borderColor = "#74c476";
          }else if (priority=="3") {
            document.getElementById(data).style.backgroundColor = "#f7fcf5";
            document.getElementById(data).style.borderColor = "#c7e9c0";
          }
        }
        event.target.parentElement.style.background = "";
        event.target.style.background = "";
      }

      document.addEventListener("dragenter", function(event) {
        // highlight potential drop target when the draggable element enters it
        if (event.target.className == "ScrumContainerScrollable") {
          event.target.parentElement.style.background = "#ffffe5";
          event.target.style.background = "#ffffe5";
        }
      }, false);

      document.addEventListener("dragleave", function(event) {
        // reset background of potential drop target when the draggable element leaves it
        if (event.target.className == "ScrumContainerScrollable") {
          event.target.parentElement.style.background = "";
          event.target.style.background = "";
        }
      }, false);


      var myLineChart, c = 0, label = 0, randomnum, interval;

      function renderchart() {
         var ctx = document.getElementById("tasksDoneThisMonth").getContext('2d');
         myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
               labels: {{ChartMonthDays|safe}},
               datasets: [{
                  label: '# of tasks done',
                  data: {{ChartDoneTasks|safe}},
                  backgroundColor: ['rgba(128,205,193, 0.3)'],
                  borderColor: ['rgba(53,151,143, 1)'],
                  borderWidth: 2
               },
               {  label: '# of tasks to be done',
                  data: {{ChartthisMonthTasks|safe}},
                  backgroundColor: ['rgba(256,256,256, 0.3)'],
                  borderColor: ['rgba(251,106,74, 1)'],
                  borderWidth: 2
               }]
            },
            options: { scales: { yAxes: [{ ticks:{ beginAtZero: true }}]}}
         });
      }
  window.onload = renderchart;
  function logout(){
    localStorage.setItem('token',"false")
    window.location.replace('/home')
  }
</script>

</html>
