.DS_Store
__pycache__
static/photos/
static/books/
static/docs/
static/decorationImages/
serverScripts/reports/
homeAutomation
journal.db
test.db
ha.db
backups/
venv*
tests/.coverage
tests/test.db
logs/*
/learning.db
