<script type="text/javascript">
var bp_MinY = {{BP_Min|safe}};
var bp_MaxY = {{BP_Max|safe}};

function render_blood_pressure_chart_yearly(bpMin, bpMax){
  var ctx = document.getElementById("BPTrackerYear").getContext('2d');
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  if (bpMin){
    bp_MinY[dd-1] = bpMin;
  }
  if (bpMin){
    bp_MaxY[dd-1] = bpMax;
  }

  var BPLineChart = new Chart(ctx, {
     type: 'line',
     data: {
        labels: {{ChartMonthDays|safe}},
        datasets: [{
           label: "BP Min (bpm)",
           data: bp_MinY,
           backgroundColor: ['rgba(0,0,0, 0)'],
           borderColor: ['rgba(37,52,148, 1)'],
           borderWidth: 2,
           spanGaps: true,
           tension: 0,
           pointStyle: 'circle',
        }, {
           label: "BP Max (bpm)",
           data: bp_MaxY,
           backgroundColor: ['rgba(0,0,0, 0)'],
           borderColor: ['rgba(65,182,196, 1)'],
           borderWidth: 2,
           spanGaps: true,
           tension: 0,
           pointStyle: 'circle',
        }]
     },
     options: { legend: {labels: {usePointStyle: true}},
                scales: { yAxes: [{ ticks:{ suggestedMin: 50 }}]},
            },
      lineAtIndex: todayLineInChart("{{yearMonth}}"),
      lineAtIndexColor: ['rgba(252,78,42, 1)'],
  });
}
</script>


<div class="graphCard" style="width:{{width}};">
  <h4  class="title lightbg"  style="float:left; margin-left: 10px;">yearly blood pressure tracker</h4>
  <div style="float:left; width:90%; margin-left:5%">
    <canvas  height="100px" id="BPTrackerYear"></canvas>
  </div>
</div>


<script type="text/javascript">
  render_blood_pressure_chart_yearly();
</script>