<script type="text/javascript">
  function calculateAvg(valList){
    var sum, count, avg, last, first;
    sum = count = avg = last = first = 0;
    var avgLine = [];
    var found = 0;
    for( var i = 0; i < valList.length; i++ ){
      if((!isNaN(valList[i])) && (valList[i]!=0)){ // its a number
        if (found == 0){
          first = i;
          found = 1;
        }
        sum = sum + valList[i];
        count = count + 1;
        last = i;
      }
    }
    if(count>0){
      avg = sum/count;
    }
    for( var i = 0; i <= last; i++ ){
      if (i == first || i == last){
        avgLine.push(avg);
      }else{
        avgLine.push(NaN);
      }
    }
    return avgLine;
  }
</script>
