<script type="text/javascript">
var hr_Min = {{HR_Min|safe}};
var hr_Max = {{HR_Max|safe}};

function renderHeartRateChart(hrMin, hrMax){
  var ctx = document.getElementById("HRTracker").getContext('2d');
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  if (hrMin){
    hr_Min[dd-1] = hrMin;
  }
  if (hrMin){
    hr_Max[dd-1] = hrMax;
  }

  var HRLineChart = new Chart(ctx, {
     type: 'line',
     data: {
        labels: {{ChartMonthDays|safe}},
        datasets: [{
           label: "HR Min (bpm)",
           data: hr_Min,
           backgroundColor: ['rgba(0,0,0, 0)'],
           borderColor: ['rgba(33,113,181, 1)'],
           borderWidth: 2,
           spanGaps: true,
           tension: 0,
           pointStyle: 'circle',
        }, {
           label: "HR Max (bpm)",
           data: hr_Max,
           backgroundColor: ['rgba(0,0,0, 0)'],
           borderColor: ['rgba(252,78,42, 1)'],
           borderWidth: 2,
           spanGaps: true,
           tension: 0,
           pointStyle: 'circle',
        }]
     },
     options: { legend: {labels: {usePointStyle: true}},
                scales: { yAxes: [{ ticks:{ suggestedMin: 50, suggestedMax: 200 }}]},
                onClick: function(event, array){
                  if (isNaN(this.scales['y-axis-0'].getValueForPixel(event.layerY)) ||
                     (this.scales['y-axis-0'].getValueForPixel(event.layerY)+1 > this.scales['y-axis-0'].end)){
                       console.log(this.scales['y-axis-0'].getValueForPixel(event.layerY))
                    return;
                  }
                  var selectedDay = this.scales['x-axis-0'].getValueForPixel(event.layerX)+1;
                  var selectedVal =  hr_Min[selectedDay-1]+","+hr_Max[selectedDay-1]
                  var newVal = window.prompt("Update HR (coma separated format:\"min,max\") for day " + selectedDay + "?", selectedVal);
                  if ((newVal===null)){return;}
                  var date = {{PageYear}}+"-"+zeroPad({{'%02d'%PageMonth}}, 2)+"-"+zeroPad(selectedDay,2);
                  var value;
                  if(newVal !== ""){
                    var minHR = newVal.split(",")[0]
                    var maxHR = newVal.split(",")[1]
                    if (isNaN(minHR) || isNaN(maxHR)){return;}
                    value = minHR + ',' + maxHR
                  }else{
                    console.log("deleting data for day: ", date)
                    value = ""
                  }
                  $.ajax({
                      type: "POST",
                      url: "http://"+window.location.hostname+":5000/",
                      data: {"tracker_type":"HR", "value" : value, "date": date},
                  });
                  hr_Max[selectedDay-1] = maxHR;
                  hr_Min[selectedDay-1] = minHR;
                  this.update();
                }
            },
      lineAtIndex: todayLineInChart("{{yearMonth}}"),
      lineAtIndexColor: ['rgba(252,78,42, 1)'],
  });
}
</script>


<div class="graphCard" style="width:{{width}};">
  <h4  class="title lightbg"  style="float:left; margin-left: 10px;">heart rate tracker</h4>
  <div style="float:left; width:90%; margin-left:5%">
    <canvas  height="{{height}}" id="HRTracker"></canvas>
  </div>
</div>
