<link rel="stylesheet" href="{{ url_for('static', filename='styles/moodTracker.css') }}">

<script type="text/javascript">
  function moodSelect(mood, date){
    var moodTrackerPopups = document.getElementsByClassName("moodSelectorPopUp");
    for (i = 0; i < moodTrackerPopups.length; i++) {
      moodTrackerPopups[i].remove();
    }
    $.ajax({
       type: "POST",
       url: "/home",
       data: {tracker_type: "mood", "value":mood,"date":date},
     });
     if (mood=="great") {
       document.getElementById(date).style.backgroundColor  = "#1d91c0";
     }else if (mood=="good") {
       document.getElementById(date).style.backgroundColor  = "#9FDED0";
     }else if (mood=="ok") {
       document.getElementById(date).style.backgroundColor  = "#deebf7";
     }else if (mood=="bad") {
       document.getElementById(date).style.backgroundColor  = "#fddbc7";
     }else{
       document.getElementById(date).style.backgroundColor  = "#f4a582";
     }
  }
  function moodSelector(event, item){
    var moodTrackerPopups = document.getElementsByClassName("moodSelectorPopUp");
    if(moodTrackerPopups.length>0){
      for (i = 0; i < moodTrackerPopups.length; i++) {
        moodTrackerPopups[i].remove();
      }
      return ;
    }
    var div = document.createElement("div");
    div.classList.add("moodSelectorPopUp");
    scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
    scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    div.style.left = event.clientX+2+scrollLeft+"px";
    div.style.top = event.clientY+2+scrollTop+"px";

    var table = document.createElement("table");
    var moods = ["Great", "Good", "OK", "Bad", "Awful"]
    var bgcolors = ["#1d91c0", "#9FDED0", "#deebf7", "#fddbc7", "#f4a582"]
    for (i = 0; i < 5; i++) {
      var row = document.createElement("tr");
      var c1  = document.createElement("td");
      var c2  = document.createElement("td");
      c1.classList.add("moodselector")
      c1.style.backgroundColor = bgcolors[i];
      c1.onclick=function selectMood(){
        var mood = this.nextSibling.innerHTML.toLowerCase();
        var date = '{{PageYear}}-{{'%02d' % (PageMonth)}}-'+zeroPad(item.innerHTML, 2);
        moodSelect(mood, date)
      };
      c2.innerHTML = moods[i];
      row.appendChild(c1);
      row.appendChild(c2);
      table.appendChild(row);
    }
    div.appendChild(table);
    var moodTracker = document.getElementsByClassName("moodTracker")[0];
    moodTracker.appendChild(div);
  }

  function highlightMoods(){
    var moodTable = document.getElementsByClassName("moodTrackerTable")[0]
    for (let row of moodTable.rows) {
        for(let cell of row.cells) {
           if (cell.innerText == "{{today}}"){
             cell.style.border= "1px solid red";
           }
        }
    }
  }

</script>

<!-- Mood Tracker-->
<div class="moodTracker">
  <h2  class="title lightbg">mood tracker</h2>
  <table class="moodTrackerTable">
    <tr> <th class="moodTracker"> M </th> <th class="moodTracker"> T </th>
         <th class="moodTracker"> W </th> <th class="moodTracker"> T </th>
         <th class="moodTracker"> F </th> <th class="moodTracker"> S </th>
         <th class="moodTracker"> S </th>
    </tr>
    {% for day in days %}
      {% if day != None  %}
        {% if days.index(day)%7 == 0  %}
        <tr>
        {% endif %}
        {% set ns1 = namespace (found = 0)%}
        {% for item in moods%}
          {%if item[1].split("-")[2]|int == day %}
                {%set ns1.found = 1 %}
                {% if item[0] == 'awful' %}
                  <td id= "{{PageYear}}-{{'%02d' % (PageMonth)}}-{{'%02d' % (day)}}" class="moodSelectorCell",  bgcolor="#f4a582" onclick="moodSelector(event, this)">{{ day }}</td>
                {% elif item[0] == 'bad' %}
                  <td id= "{{PageYear}}-{{'%02d' % (PageMonth)}}-{{'%02d' % (day)}}" class="moodSelectorCell",  bgcolor="#fddbc7" onclick="moodSelector(event, this)">{{ day }}</td>
                {% elif item[0] == 'ok' %}
                  <td id= "{{PageYear}}-{{'%02d' % (PageMonth)}}-{{'%02d' % (day)}}" class="moodSelectorCell",  bgcolor="#deebf7" onclick="moodSelector(event, this)">{{ day }}</td>
                {% elif item[0] == 'good' %}
                  <td id= "{{PageYear}}-{{'%02d' % (PageMonth)}}-{{'%02d' % (day)}}" class="moodSelectorCell",  bgcolor="#9FDED0" onclick="moodSelector(event, this)">{{ day }}</td>
                {% elif item[0] == 'great' %}
                  <td id= "{{PageYear}}-{{'%02d' % (PageMonth)}}-{{'%02d' % (day)}}" class="moodSelectorCell",  bgcolor="#1d91c0" onclick="moodSelector(event, this)">{{ day }}</td>
                {% endif %}
          {% endif %}
        {% endfor %}
        {%if ns1.found== 0 %}
          <td id= "{{PageYear}}-{{'%02d' % (PageMonth)}}-{{'%02d' % (day)}}" class="moodSelectorCell",  bgcolor="white" onclick="moodSelector(event, this)">{{ day }}</td>
        {% endif %}
      {% else %}
        <td>  </td>
      {% endif %}
    {% endfor %}
    </tr>
  </table>
</div>

<script type="text/javascript">
    highlightMoods()
</script>
