<script type="text/javascript">
var monthsRunning = {{monthsRuns | safe}};
var monthsPace = {{monthsPaces | safe}};


function renderRunningTrackerChart(){

  var Running_BG_Colors = []
  var Running_B_Colors = []
  monthsRunning.forEach((item, i) => {
    if(parseFloat(item)<5){
      Running_BG_Colors.push('rgba(254,217,118, 1)');
      Running_B_Colors.push('rgba(254,178,76, 1)');
    }else{
      Running_BG_Colors.push('rgba(253,141,60, 1)');
      Running_B_Colors.push('rgba(253,141,60, 1)');
    }
  });

  var ctx = document.getElementById("runningTracker").getContext('2d');
  var RunningBarChart = new Chart(ctx, {
     type: 'bar',
     data: {
        labels: {{ChartMonthDays|safe}},
        datasets: [
        {
           label: "Avg. Pace (Min/Km)",
           data: monthsPace,
           type: 'line',
           yAxisID: 'y-axis-1',
           backgroundColor: ['rgba(54,144,192, 0)'],
           borderColor: ['rgba(54,144,192, 1)'],
           borderWidth: 2,
           pointRadius: 2,
           spanGaps: true,
           pointStyle: 'cicle',
        },{
           label: "Running Distance (Km)",
           data: monthsRunning,
           yAxisID: 'y-axis-0',
           backgroundColor: Running_BG_Colors,
           borderColor: Running_B_Colors,
           borderWidth: 2,
           spanGaps: true,
           pointStyle: 'rect',
        },
      ]
     },
     options: { legend: {labels: {usePointStyle: true}},
                scales: {
                yAxes: [{
                        id: 'y-axis-0',
                        type: 'linear',
                        position: 'left',
                        ticks:{beginAtZero: true },
                        }, {
                        id: 'y-axis-1',
                        type: 'linear',
                        position: 'right',
                        ticks: {suggestedMax: 8, suggestedMin: 5, beginAtZero: false },
                      }]
                },
                onClick: function(event, array){
                  if (isNaN(this.scales['y-axis-0'].getValueForPixel(event.layerY)) ||
                     (this.scales['y-axis-0'].getValueForPixel(event.layerY)+1 > this.scales['y-axis-0'].end)){
                       console.log(this.scales['y-axis-0'].getValueForPixel(event.layerY))
                    return;
                  }
                  var selectedDay = this.scales['x-axis-0'].getValueForPixel(event.layerX)+1;
                  var selectedVal =  monthsRunning[selectedDay-1]+", "+monthsPace[selectedDay-1]
                  var newVal = window.prompt("Update running (coma separated format:\"distance, pace\") for day " + selectedDay + "?", selectedVal);
                  if ((newVal===null)){return;}
                  var distance;
                  var pace;
                  if(newVal !== ""){
                    distance = newVal.split(",")[0]
                    pace = newVal.split(",")[1]
                    if (isNaN(distance) || isNaN(pace)){return;}
                  }else{
                    console.log("deleting data for day: ", date)
                    distance = ""
                    pace = ""
                  }
                  var date = {{PageYear}}+"-"+zeroPad({{'%02d'%PageMonth}}, 2)+"-"+zeroPad(selectedDay,2);
                  $.ajax({
                      type: "POST",
                      url: "http://"+window.location.hostname+":5000/home",
                      data: {"tracker_type":"running", "value": distance, "date": date},
                  }).success(function(){
                            $.ajax({
                                type: "POST",
                                url: "http://"+window.location.hostname+":5000/home",
                                data: {"tracker_type":"pace", "value": pace, "date": date},
                            });
                    }
                  );
                  monthsRunning[selectedDay-1]=distance;
                  monthsPace[selectedDay-1]=pace;
                  countTotalRun();
                  this.update();
                }
           },
     lineAtIndex: todayLineInChart(),
     lineAtIndexColor: ['rgba(254,178,76, 1)'],
  });
}

function countTotalRun(){
  var span =  document.getElementById("totalRun");
  var sum = 0;
  for(var i = 0; i < monthsRunning.length; i++ ){
    if (!isNaN(monthsRunning[i]) ){
      sum = sum + parseFloat(monthsRunning[i]);
    }
  }
  span.innerHTML = sum.toFixed(2);
}

</script>

<div class="graphCard">
  <h2  class="title lightbg"  style="float:left; margin-left: 10px;">running tracker</h2>
  <span style="float: right; margin-right: 10px; margin-top: 5px; font-family:verdana; font-size:11px"> monthly running distance: <b><span id="totalRun"></span></b> km</span>
  <div style="float:left; width:90%; margin-left:5%">
    <canvas  height="100px" id="runningTracker"></canvas>
  </div>
</div>

<script type="text/javascript">

  countTotalRun();

</script>
