<script type="text/javascript">
var myAnnualSavings = {{YearsSavings|safe}}

function renderSavingTrackerChart(){
  var ctx = document.getElementById("savingTracker").getContext('2d');

  var SavingLineChart = new Chart(ctx, {
     type: 'line',
     data: {
        labels: {{ChartYearMonths|safe}},
        datasets: [{
           label: "Current Savings (kr)",
           data: myAnnualSavings,
           backgroundColor: ['rgba(54,144,192, 0.3)'],
           borderColor: ['rgba(54,144,192, 1)'],
           borderWidth: 2,
           spanGaps: true
        }
      ]
     },
     options: { scales: { yAxes: [{ ticks:{ beginAtZero: true }}]},
               onClick: function(event, array){
                 var selectedMonth = this.scales['x-axis-0'].getValueForPixel(event.layerX)+1;
                 var selectedVal =  myAnnualSavings[selectedMonth-1]
                 var date = {{PageYear}}+"-"+zeroPad(selectedMonth, 2)+"-01";
                 var newVal = window.prompt("Add saving for the month " + selectedMonth + "?", 0);
                 if (isNaN(newVal) || (newVal===null)){return;}

                 // submit new value
                 $.ajax({
                     type: "POST",
                     url: "http://localhost:5000/home",
                     data: {"tracker_type":"saving", "value": newVal, "date": date},
                 });
                 ////update the step value
                 myAnnualSavings[selectedMonth-1] = parseInt(myAnnualSavings[selectedMonth-1]) + parseInt(newVal);
                 this.update();
               }
            }
  });
}
</script>


<div style="width:45%;min-height:220px;background-color:white;margin-bottom: 20px; margin-left:3.3%;border-radius:10px;text-align:center;float:left;">
  <i class="fa fa-money" style="float:left; margin-left:10px; margin-top:10px;"></i>
  <h2  class="title lightbg"  style="float:left; margin-left: 10px;">Savings Tracker</h2>
  <div style="float:left; width:90%; margin-left:5%">
    <canvas  height="100px" id="savingTracker"></canvas>
  </div>
</div>
