<script type="text/javascript">
var monthsSleepHoursTemp = {{monthsSleepTimes | safe}};
var avgSleep = calculateAvg(monthsSleepHoursTemp);

function renderSleepTrackerChart(){

  var Sleep_BG_Colors = []
  var Sleep_B_Colors = []

  monthsSleepHoursTemp.forEach((item, i) => {
    if(parseFloat(item)>=8){
      Sleep_BG_Colors.push('rgba(106,81,163, 1)')
      Sleep_B_Colors.push('rgba(106,81,163, 1)')
    }else{
      Sleep_BG_Colors.push('rgba(188,189,220, 1)')
      Sleep_B_Colors.push('rgba(158,154,200, 1)')
    }
  });


  var ctx = document.getElementById("sleepTracker").getContext('2d');
  var SleepChart = new Chart(ctx, {
     type: 'bar',
     data: {
        labels: {{ChartMonthDays|safe}},
        datasets: [{
          label: "Avg. sleep (hr)",
          type: 'line',
          data: avgSleep,
          backgroundColor: ['rgba(239,59,44, 0)'],
          borderColor: ['rgba(239,59,44, 1)'],
          borderDash: [3,5],
          borderWidth: 3,
          spanGaps: true,
          pointRadius: 2,
          hidden: true,
          pointStyle: 'dash',
       }, {
           label: "Sleep time (hr)",
           data: monthsSleepHoursTemp,
           backgroundColor: Sleep_BG_Colors,
           borderColor: Sleep_B_Colors,
           borderWidth: 2,
           spanGaps: true,
           pointStyle: 'rect',
        }

      ]
     },
     options: { legend: {labels: {usePointStyle: true}},
                scales: {
                yAxes: [{ ticks:{beginAtZero: true }}]},
                onClick: function(event, array){
                  if (isNaN(this.scales['y-axis-0'].getValueForPixel(event.layerY)) ||
                     (this.scales['y-axis-0'].getValueForPixel(event.layerY)+1 > this.scales['y-axis-0'].end)){
                    return;
                  }
                  var selectedDay = this.scales['x-axis-0'].getValueForPixel(event.layerX)+1;
                  var selectedVal =  monthsSleepHoursTemp[selectedDay-1]
                  var newVal = window.prompt("Update sleep for day " + selectedDay + "?", selectedVal);
                  if (isNaN(newVal) || (newVal===null)){return;}
                  var date = {{PageYear}}+"-"+zeroPad({{'%02d'%PageMonth}}, 2)+"-"+zeroPad(selectedDay,2);
                  // submit new value
                  $.ajax({
                      type: "POST",
                      url: "http://localhost:5000/home",
                      data: {"tracker_type":"sleep", "value": newVal, "date": date},
                  });
                  //update the step value
                  monthsSleepHoursTemp[selectedDay-1] = parseFloat(newVal);
                  newAvg = calculateAvg(monthsSleepHoursTemp);
                  for(var i = 0; i < newAvg.length; i++ ){
                    avgSleep[i] = newAvg[i];
                  }
                  this.update();
                }

              }
  });
}

</script>

<div class="graphCard">
  <i class="fa fa-moon-o" style="float:left; margin-left:10px; margin-top:10px;"></i>
  <h2  class="title lightbg"  style="float:left; margin-left: 10px;">Sleep Tracker</h2>
  <div style="float:left; width:90%; margin-left:5%">
    <canvas  height="100px" id="sleepTracker"></canvas>
  </div>
</div>
