<script type="text/javascript">
var monthsSteps = {{monthsSteps | safe}};
const zeroPad = (num, places) => String(num).padStart(places, '0')
var avgSteps = calculateAvg(monthsSteps);



function renderStepTrackerChart(){

  var Step_BG_Colors = []
  var Step_B_Colors = []

  monthsSteps.forEach((item, i) => {
    if(parseInt(item)<8000){
      Step_BG_Colors.push('rgba(173,221,142, 1)')
      Step_B_Colors.push('rgba(116,196,118, 1)')
    }else{
      Step_BG_Colors.push('rgba(0,109,44, 1)')
      Step_B_Colors.push('rgba(0,109,44, 1)')
    }
  });

  var ctx = document.getElementById("stepTracker").getContext('2d');
  var StepBarChart = new Chart(ctx, {
     type: 'bar',
     data: {
        labels: {{ChartMonthDays|safe}},
        datasets: [{
          label: "Avg. Steps/day",
          type: 'line',
          data: avgSteps,
          backgroundColor: ['rgba(239,59,44, 0)'],
          borderColor: ['rgba(239,59,44, 1)'],
          borderDash: [3,5],
          borderWidth: 3,
          spanGaps: true,
          pointRadius: 0
       },{
           label: "Steps/day",
           data: monthsSteps,
           backgroundColor: Step_BG_Colors,
           borderColor: Step_B_Colors,
           borderWidth: 2,
           spanGaps: true
        }
      ]
     },
     options: {  scales: { yAxes: [{ ticks:{beginAtZero: true }}], xAxes: [{ ticks:{beginAtZero: false }}]},
                 onClick: function(event, array){
                   if (isNaN(this.scales['y-axis-0'].getValueForPixel(event.layerY)) ||
                      (this.scales['y-axis-0'].getValueForPixel(event.layerY)+1 > this.scales['y-axis-0'].end)){
                     return;
                   }
                   var selectedDay = this.scales['x-axis-0'].getValueForPixel(event.layerX)+1;
                   var selectedVal =  monthsSteps[selectedDay-1]
                   var newVal = window.prompt("Update steps for day " + selectedDay + "?", selectedVal);
                   if (isNaN(newVal) || (newVal===null)){return;}
                   var date = {{PageYear}}+"-"+zeroPad({{'%02d'%PageMonth}}, 2)+"-"+zeroPad(selectedDay,2);
                   // submit new value
                   $.ajax({
                       type: "POST",
                       url: "http://localhost:5000/home",
                       data: {"tracker_type":"steps", "value": newVal, "date": date},
                   });
                   //update the step value
                   monthsSteps[selectedDay-1] = parseInt(newVal);
                   newAvg = calculateAvg(monthsSteps);
                   for(var i = 0; i < newAvg.length; i++ ){
                     avgSteps[i] = newAvg[i];
                   }
                   this.update();
                 }
              }
  });
}
</script>

<div style="width:45%;min-height:220px;background-color:white;margin-bottom: 20px; margin-left:3.3%;border-radius:10px;text-align:center;float:left;">
  <h2  class="title lightbg"  style="float:left; margin-left: 10px;">Step Tracker</h2>
  <div style="float:left; width:90%; margin-left:5%">
    <canvas  height="100px" id="stepTracker"></canvas>
  </div>
</div>
