<script type="text/javascript">
  var monthsWorkHoursTemp = {{monthsWorkHours | safe}}
  var avgWork = calculateAvg(monthsWorkHoursTemp);

  function renderWorkHourChart(){
    var WH_BG_Colors = []
    var WH_B_Colors = []

    monthsWorkHoursTemp.forEach((item, i) => {
      if(parseInt(item)<4){
        WH_BG_Colors.push('rgba(252,146,114, 1)')
        WH_B_Colors.push('rgba(203,24,29, 1)')
      }else if(parseInt(item)<6){
        WH_BG_Colors.push('rgba(254,196,79, 1)')
        WH_B_Colors.push('rgba(236,112,20, 1)')
      }else if(parseInt(item)>8){
        WH_BG_Colors.push('rgba(128,205,193, 1)')
        WH_B_Colors.push('rgba(53,151,143, 1)')
      }else{
       WH_BG_Colors.push('rgba(107,174,214, 1)')
       WH_B_Colors.push('rgba(33,113,181, 1)')
      }

    });

    var ctx = document.getElementById("WHTracker").getContext('2d');
    var WHBarChart = new Chart(ctx, {
       type: 'bar',
       data: {
          labels: {{ChartMonthDays|safe}},
          datasets: [{
            label: "Avg. Working Hours (hr)",
            type: 'line',
            data: avgWork,
            backgroundColor: ['rgba(239,59,44, 0)'],
            borderColor: ['rgba(239,59,44, 1)'],
            borderDash: [3,5],
            borderWidth: 3,
            spanGaps: true,
            pointRadius: 2,
            hidden: true,
         },{
             label: "Working Hours (hr)",
             data: monthsWorkHoursTemp,
             backgroundColor: WH_BG_Colors,
             borderColor: WH_B_Colors,
             borderWidth: 2,
          }
        ]
       },
       options: { scales: { yAxes: [{ticks:{suggestedMax: 8, beginAtZero: true }}]},
                  onClick: function(event, array){
                    if (isNaN(this.scales['y-axis-0'].getValueForPixel(event.layerY)) ||
                       (this.scales['y-axis-0'].getValueForPixel(event.layerY)+1 > this.scales['y-axis-0'].end)){
                      return;
                    }
                    var selectedDay = this.scales['x-axis-0'].getValueForPixel(event.layerX)+1;
                    var selectedVal = monthsWorkHoursTemp[selectedDay-1]
                    var newVal = window.prompt("Add work hours for day " + selectedDay + "?", 0);
                    // check if cancel is pressed
                    if (isNaN(newVal) || (newVal===null)){return;}
                    var date = {{PageYear}}+"-"+zeroPad({{'%02d'%PageMonth}}, 2)+"-"+zeroPad(selectedDay,2);
                    // submit new value
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:5000/home",
                        data: {"tracker_type":"WorkHours", "value": newVal, "date": date},
                    });
                    //update the step value
                    monthsWorkHoursTemp[selectedDay-1] = parseFloat(monthsWorkHoursTemp[selectedDay-1])+parseFloat(newVal);
                    newAvg = calculateAvg(monthsWorkHoursTemp);
                    for(var i = 0; i < newAvg.length; i++ ){
                      avgWork[i] = newAvg[i];
                    }
                    this.update();
                  }
                }
    });
  }

  function submitWHours(){
    var worHours = document.getElementById("workHourVal").value;
    $.ajax({
        type: "POST",
        url: "http://localhost:5000/home",
        data: {"tracker_type":"WorkHours", "value": worHours},
    });
    document.getElementById("workHourVal").value = "";
    renderWorkHourChart(worHours)
  }

</script>

<div style="width:45%;min-height:220px;background-color:white;margin-bottom: 20px; margin-left:3.3%;border-radius:10px;text-align:center;float:left;">
  <i class="fa fa-wrench" style="float:left; margin-left:10px; margin-top:10px;"></i>
  <h2  class="title lightbg"  style="float:left; margin-left: 10px;">Work Hours Tracker</h2>
  <div style="float:left; width:90%; margin-left:5%">
    <canvas  height="100px" id="WHTracker"></canvas>
  </div>
</div>
