:root {
  --title-clr: #08306b;
  --title-lightbg-clr:#08306b;
  --tabbtn-clr: #08519c;
  --tabbtn-slctd-clr: #4292c6;
  --tabbtn-hvr-clr: #fdbf6f;
  --tabbtn-font-clr: white;
  --divider-clr: #4292c6;
  --tracker-hvr-clr: #deebf7;
  --tracker-fnd-hvr-clr: #3288bd;
  --tracker-plnd-hvr-clr: #FAD8AD;
  --dailyentry-clr: #9ecae1;
  --bckgrnd-clr: #deebf7;
  --arrow-clr: #08306b;
  --DSfont-clr:black;
  --DSfontFilled-clr:black;
  --DSFilled-bg-clr: #dadaeb;
  --DStoday-bg-clr:#4292c6;
  --DSfontToday-clr:white;
  --logText-clr: black;
  --moodtracker-bg-clr:white;
  --activityracker-bg-clr:white;
  --icon-clr:#08519c;
  --todoTasks-brdr-clr:#9ecae1;
  --submit-bg-clr:#2171b5;
  --submit-bg-hvr-clr:#4292c6;
  --newTodo-brdr-clr:#08519c;
  --titleNewTask-clr:black;
  --todayMarker-bg-clr:#fddbc7;
}


.featured {
  --title-clr: #f0f0f0;
  --title-lightbg-clr: black;
  --tabbtn-clr: #969696;
  --tabbtn-slctd-clr: #d9d9d9;
  --tabbtn-hvr-clr: #fdbf6f;
  --tabbtn-font-clr: black;
  --divider-clr: #d9d9d9;
  --tracker-hvr-clr: #bdbdbd;
  --tracker-fnd-hvr-clr: #525252;
  --tracker-plnd-hvr-clr: #FAD8AD;
  --dailyentry-clr: #bdbdbd;
  --bckgrnd-clr: black;
  --arrow-clr: white;
  --DSfont-clr:white;
  --DSfontFilled-clr:black;
  --DSfontToday-clr:black;
  --DSFilled-bg-clr: #969696;
  --DStoday-bg-clr: #d9d9d9;
  --logText-clr: white;
  --moodtracker-bg-clr:white;
  --activityracker-bg-clr:white;
  --icon-clr:white;
  --todoTasks-brdr-clr:#969696;
  --submit-bg-clr:#737373;
  --submit-bg-hvr-clr:#969696;
  --newTodo-brdr-clr:#737373;
  --titleNewTask-clr:white;
  --todayMarker-bg-clr:#d9d9d9;
}

html{
    min-height:100%;
}

.bg{
  background-color: var(--bckgrnd-clr);
  color: var(--logText-clr);
  min-height: 100vh;
}

body.journal{
  background-repeat:no-repeat; background-position: 120% 380px;
}
h1{
  font-family:Impact;
  color: var(--title-clr);
}
h2.title {
  text-align: center;
  margin-bottom:10px;
  margin-top:1px;
  text-decoration: underline;
  font-family:Impact;
  color: var(--title-clr);
}
h2.lightbg {
  color: var(--title-lightbg-clr);
}
h4.lightbg {
  color: black;
}
h2.journal{
  text-decoration: none;
  margin-left: 279px;
  margin-top:5px;
  margin-bottom: 5px;
  float:left;
}
h2.photos {
  text-align: left;
  margin-bottom:10px;
  margin-top:1px;
  text-decoration: underline;
  font-family:Impact;
  color: var(--title-clr);
}
div.logText{
  color: var(--logText-clr);
}
div.tabBar{
  margin-top: 5px;
  width:100%;
  height:30px;
}
div.tabButton{
   width: 45px;
   height: 25px;
   margin-right: 3px;
   padding-top:5px;
   border-radius:5px 5px 0px 0px;
   color:var(--tabbtn-font-clr);
   float:left;
   text-align: center;
   background-color: var(--tabbtn-clr);
}
div.tbSelected{
   background-color: var(--tabbtn-slctd-clr);
}
div.tabButton:hover {
   background-color: var(--tabbtn-hvr-clr);
   cursor: pointer;
}
div.todoTasks{
  margin-left: 0.5%;
  margin-bottom: 10px;
  float:left;
  width:32%;
  height:350px;
  border: 3px solid var(--todoTasks-brdr-clr);
  background-color: #d9d9d9;
  border-radius: 6px;
}
div.todoTasksScorlable{
  overflow-y: scroll;
  height: 290px;
}
div.taskColorLabel{
  float:right;
  margin-top:2px;
  margin-right:10px;
  width:12px;
  height:12px;
  border-radius:30px;
  border: 1px solid white;
}
div.taskColorLabel:hover{
  border: 1px solid red;
}
div.todoColorPopup{
  position:relative;
  top: 4px;
  left:4px;
  width:20px;
  height:60px;
  background-color: white;
  border:1px solid black;
  border-radius: 10px;
  z-index:10;
}
.todoSearchClose{
  color: white;
  float:right;
  margin-right:20px;
  margin-top:10px;
}
div.searchedTodoItem:hover{
  background-color: #deebf7;
  cursor: pointer;
}
#todoSearchOverlay{
  border-radius: 20px;
  width:50%;
  height: 390px;
  background-color: rgba(82,82,82,0.9);
  position: fixed;
  top:150px;
  left:0px;
  z-index:10;
  margin-left:25%;
  animation: openTodoOverlay 0.5s ease;
}
@keyframes openTodoOverlay {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

#todoSearchBar{
  resize: none;
  margin-left:10px;
  margin-top:10px;
  float:left;
}
#todoSearchResult{
  padding:10px 10px 10px 10px;
  border-radius:5px;
  overflow-y:auto;
  width:90%;
  margin-left:5%;
  float:left;
  background-color:white;
  margin-bottom:10px;
  color: black;
  height:calc(100% - 60px);
}
.todoSearch{
  color:white;
  float:left;
}

div.divider{
  width:100%;
  height:10px;
  float:left;
  background-color: var(--divider-clr);
}


/*Day Selector used in Journal and Org page*/
td.DS{
  min-width: 20px;
  text-align: center;
}
td.DS:hover{
  cursor: pointer;
}
td.DSFilled{
  background-color:  var(--DSFilled-bg-clr);
  border-radius: 7px 7px 0px 0px;
}
td.DStoday{
  min-width: 35px;
  background-color: var(--DStoday-bg-clr);
  border-radius: 7px 7px 0px 0px;
}
td.DSbottom{
  border-radius: 0px 0px 0px 0px;
}
td.DSgHighlightToday{
  height: 5px;
  background-image: linear-gradient(to right, var(--DStoday-bg-clr) 0%, #b2182b 35%, #b2182b 65%, var(--DStoday-bg-clr) 100%)
}
td.DSgHighlightFilled{
  height: 5px;
  background-image: linear-gradient(to right, var(--DSFilled-bg-clr) 0%, #b2182b 35%, #b2182b 65%, var(--DSFilled-bg-clr) 100%);
}
td.DSgHighlight{
  height: 5px;
  background-image: linear-gradient(to right, var(--bckgrnd-clr) 0%, #b2182b 35%, #b2182b 65%, var(--bckgrnd-clr) 100%);
}
font.DSfont{
  font-size: 80%;
  color:var(--DSfont-clr);
}
font.DSfontFilled{
  font-size: 80%;
  color:var(--DSfontFilled-clr);
}
font.DSfontToday{
  color:var(--DSfontToday-clr);
}
/*------------------------------------------------*/


th.addButton{
  min-width:27px;
}
th.addButton:hover{
  border-radius: 15px;
  background-color: #c7e9c0;
}
ul.todoList{
  list-style: none;
  padding-left: 10px;
}
a.tabBar{
  font-family:Times;
  text-decoration: none;
  color : #000;
  line-height: 20px;
}
a.arrow{
  text-decoration: none;
  color : var(--arrow-clr);
}
span.date{
  color: #4292c6;
  font-size: 10px;
  float:right;
  margin-right:10px;
  margin-top:5px;
  width:62px;
  line-height: 15px;
}
span.task{
  display: inline-block;
  width: calc(90% - 120px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:black;
  font-size: 15px;
  line-height: 15px;
}
.toDoHoverText {
  position: fixed;
  width: 200px;
  z-index: 2;
  padding:2px 10px 2px 10px;
  border-radius: 10px;
  background-color: #737373;
  color:white;
}
.toDoEditHover {
  position: fixed;
  weidth: 200px;
  z-index: 2;
  padding:2px 10px 2px 10px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: var(--tabbtn-slctd-clr);
}
.toDoEditHover:hover{
    border: 2px solid red;
}
.hover-red:hover{
  cursor: pointer;
  color:#b2182b;
}
.hover-green:hover{
  cursor: pointer;
  color:#006d2c;
}
input[type=submit], input[type=button]{
    padding:5px 15px;
    border:0 none;
    cursor:pointer;
    color:white;
    border-radius: 5px;
    background:var(--submit-bg-clr);
}
input[type=submit], input[type=button]:hover {
    background:var(--submit-bg-hvr-clr);
}
textarea.newTodo{
  width:calc(100% - 140px);;
  height:30px;
  box-sizing: border-box;
  border: 2px solid var(--newTodo-brdr-clr);
  outline:None;
  resize: none;
  border-radius: 4px;
}
i.myGear{
  font-size: 30px;
  color: var(--icon-clr);
}
i.fa-power-off{
  font-size: 30px;
  color: var(--icon-clr);
}
i.fa-sign-out{
  font-size: 30px;
  color: var(--icon-clr);
}
b.titleNewTask{
  margin-left:10px;
  color:var(--titleNewTask-clr);
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 10;
}
#submitToGraph{
  border: 1px solid black;
  border-radius: 10px;
}
#submitToGraph:hover {
  cursor: pointer;
  border: 1px solid #ec7014;
  color: #ec7014;
}
.graphCard{
  width:550px;
  min-height:200px;
  background-color:white;
  margin-bottom: 15px;
  margin-left:3.3%;
  border-radius:10px;
  text-align:center;
  float:left;
}
#add-marker{
  background-color: #41ae76;
  float:right;
  margin-right:10px;
  width: 40px;
  line-height: 30px;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  position: relative;
  z-index:2;
  top: 50px;
  right:10px;
}

#add-marker:hover{
  background-color: #4eb3d3;
}

.switch {
position: relative;
display: inline-block;
width: 40px;
height: 24px;
margin-top: 3px;
margin-left: 3px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #525252;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ec7014;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ec7014;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 10px;
}
.switch {
position: relative;
display: inline-block;
width: 40px;
height: 24px;
margin-top: 3px;
margin-left: 3px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #525252;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ec7014;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ec7014;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 10px;
}
div.genericPopup{
  border-radius: 10px;
  border: 3px solid black;
  position: absolute;
  z-index: 10;
  color: black;
  background-color: #f0f0f0;
}
div.monthTab{
  width:95%;
  min-height: 22px;
  line-height: 22px;
  float:right;
  border-radius: 10px 0px 0px 10px;
  background-color:gray;
  margin-top:3px;
  color:black;
}
div.selected{
  background-color:white;
  min-height: 35px;
  line-height: 35px;
}

div.monthTab:hover{
  background-color:var(--divider-clr);
  cursor: pointer;
}
div.dividerVert{
  width:100%;
  height: 315px;
  float:left;
  background-color:var(--divider-clr);
}
#gradUp{
  width:100%;
  min-height:30px;
  float:left;
  background-color:var(--divider-clr);
  background-image: linear-gradient(to bottom, var(--bckgrnd-clr), var(--divider-clr))
}
#gradDown{
  width:100%;
  min-height:30px;
  float:left;
  background-color:var(--divider-clr);
  background-image: linear-gradient(to bottom, var(--divider-clr), var(--bckgrnd-clr))
}
