td.tracker{
  border: 1px solid white;
  min-width:20px;
}
td.tracker:hover {
 background-color:  var(--tracker-hvr-clr);
 cursor: pointer;
}
td.found {
 background-color:  var(--tracker-fnd-hvr-clr);
}
td.planned {
 background-color:   var(--tracker-plnd-hvr-clr);
}
td.trackerLabel{
  height: 15px;
  border: 1px solid white;
  font-size: 12px;
  color: black;
  margin-top: 2px;
}
td.trackerHeader{
  border: 1px solid white;
  text-align: center;
  font-size: 12px;
  color:black;
}
td.todayMarker{
  background-color: var(--todayMarker-bg-clr);
  border: 1px solid white;
  text-align: center;
  font-size: 15px;
  color:black;
}
div.activityTracker {
  border-radius:12px;
  background-color:var(--activityracker-bg-clr);
  float:left;
  margin-top:20px;
}
#eraser {
  color:#525252;
}
#eraser:hover {
  cursor: pointer;
  color: #ec7014;
}
