td.tracker:hover {
 background-color:  var(--tracker-hvr-clr);
 cursor: pointer;
}
td.found {
 background-color:  var(--tracker-fnd-hvr-clr);
}
td.planned {
 background-color:   var(--tracker-plnd-hvr-clr);
}
td.trackerLabel{
  border: 1px solid white;
  border-radius: 3px;
}
td.trackerHeader{
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
}
