td.tracker:hover {
 background-color:  var(--tracker-hvr-clr);
 cursor: pointer;
}
td.found {
 background-color:  var(--tracker-fnd-hvr-clr);
}
td.planned {
 background-color:   var(--tracker-plnd-hvr-clr);
}
td.trackerLabel{
  border: 1px solid white;
  border-radius: 3px;
}
td.trackerHeader{
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
}
td.todayMarker{
  background-color: var(--todayMarker-bg-clr);
  border-radius:10px;
  text-align: center;
}
div.activityTracker {
  border-radius:12px;
  background-color:var(--activityracker-bg-clr);
  min-width: 750px;
  min-height: 300px;
  float:left;
  margin-left:10px;
}
#eraser {
  color:#525252;
}
#eraser:hover {
  cursor: pointer;
  color: #ec7014;
}
