tbody.calendartb td, thead.calendarth th{
  user-select: none;
}
thead.calendarth th{
  height:40px;
}
tbody.calendartb td{
  text-align: center;
  height:40px;
  border-bottom: 1px solid #9ecae1;
  border-right:  1px solid #9ecae1;
  background-color:white
}
.calendarPopUp{
  z-index: 10;
  width: 700px;
  position: absolute;
  background-color: #c6dbef;
  text-align: left;
  border: 3px solid #9ecae1;
  border-radius: 10px;
}
.calPopupDescriptor{
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: none;
}
.weekEvent{
  z-index: 2;
  border-radius: 5px 5px 5px 5px;
  opacity: 0.9;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size:14px;
  text-height
}
.weekEvent:hover{
  opacity: 1;
}
.monthEvent{
    margin-left:2.5%;
    width:95%;
    height:16;
    margin-bottom:5px;
    text-overflow: ellipsis; overflow: hidden;
    border-radius: 5px;
    font-size:13px;
}
.timeCurser{
  width: 12.5%;
  height: 3px;
  background-color: red;
  position: absolute;
  z-index: 5;
  margin-left: 0.2%;
}
.calendarLabel{
  border-right: 1px solid white;
  border-left: 1px solid white;
  width:6.5%;
  text-align: center;
}
.calendarLabel:hover{
  color:rgb(236, 112, 20);
}
.classContainer{
  width: 100%;
  border-radius:10px;
  float:right;
  background-color:white;
  padding:10px 10px 10px 10px;
  margin-top:20px;
  margin-bottom:20px;
  min-height:100px;
}
.calCellLabel{
  background-color:#2b8cbe;
  border-radius:10px;
  width:15px;
  height:15px;
  color: white;
  font-size:12px;
  margin-bottom: 3px;
}
#calendarDrag{
  z-index: 10;
  width: 12%;
  opacity: 0.5;
  margin-left: 0px;
  position: absolute;
  background-color: #c6dbef;
}
th.calHeader{
  max-width: 13.35%;
  text-align: center;
  border-right: 1px solid #9ecae1;
  border-radius:10px 10px 0px 0px;
  background-image: linear-gradient(to bottom, #c6dbef, white);
}
#calTabMonth{
  width: 100%;
  border-spacing: 0px;
}
.attachmentLabel{
    line-height:20px;
    background-color: #2171b5;
    color: white;
    width: fit-content;
    padding: 5px 5px 5px 5px;
    float:left;
    margin-left:5px;
    border-radius: 5px;
}
.attachment_text{
    color:white;
}
#attachmentContainer{
    width: 100%;
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
