.journalPhoto{
  border: 1px solid transparent;
  height: 120px;
}
.journalPhoto:hover{
  border: 1px solid white;
}
#PhotoOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}
.closeButton{
  color:white;
  font-size: 30px;
  float:right
}
#dailyEntry{
  margin-left: 5%;
  min-height:200px;
  width:90%;
  outline:None;
  resize:None
}
i.uploadIcon{
  float: right;
  color: white;
}
i.chevronIcon{
  color:white;
  font-size: 40px;
  margin-top:200px;
}
#uploader{
  display:none;
  width:350px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius:10px;
}

div.dailyEntry{
 border-radius:12px;
 width:31%;
 height:280px;
 float:right;
 margin-right:20px;
 margin-top: 30px;
 background-color: var(--dailyentry-clr);
}
