.moodTrackerTable{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float:left;
}
.moodSelectorCell{
  min-width:20px;
  border-radius:5px;
  text-align: center;
  border: 1px solid white;
}
.moodSelectorCell:hover{
  cursor: pointer;
}
th.moodTracker{
  border: 1px solid white;
  min-width:20px;
  text-align: center;
}
div.moodTracker {
  width: 195px;
  border-radius:12px;
  background-color:var(--moodtracker-bg-clr);
  float: left;
  margin-bottom:10px;
  margin-left:10px;
  margin-top:20px;
}
div.moodSelectorPopUp{
  position: absolute;
  background-color: white;
  border: solid black 2px;
  border-radius: 5px;
  width: 100px;
  z-index: 10;
}
